<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Component Authentication</h4><small>This page only is accessible, if the AUTH service responds infavourably.<br/>Do not change the URL of the AUTH service, unless you know what you are doing.</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

    <p:messages showDetail="true" showSummary="true" id="messages" globalOnly="true" autoUpdate="true" closable="true" styleClass="alert alert-danger error" />

    <h:outputLabel for="urlAUTH" styleClass="dataElementField hasTooltip" value="URL of central authentication service" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="80" value="#{configurationBean.formParam['auth.rest']}" name="urlAUTH" id="urlAUTH" />
        
    </h:panelGroup>
        
    <h:panelGroup layout="block" styleClass="input-group" id="statusBlock">
        <span class="button-checkbox pull-right">
            <button type="button" class="btn btn-sm btn-#{configurationBean.isAuthUrlcorrect()?'success':'danger'} active" >
                <i class="state-icon fa #{configurationBean.isAuthUrlcorrect()?'fa-check-square-o':'fa-bolt'}"></i> AUTH: &nbsp;
                <h:graphicImage id="imageMoo" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
                <h:panelGroup styleClass="badge" style="display:inline;" id="statusMoo">#{configurationBean.isAuthUrlcorrect()?'available':'not available'}</h:panelGroup>
            </button>
        </span>
    </h:panelGroup>

<p />
<ui:fragment rendered="#{configurationBean.isAuthUrlcorrect()}">
    <h:panelGroup layout="block" styleClass="input-group" id="statusBlockRegistration">
        &nbsp;&nbsp;
        <span class="button-checkbox pull-right">
            <span  class="btn btn-sm btn-#{applicationBean.isInstallationAuthDone()?'success':'danger'} active" >
                <i class="state-icon fa #{applicationBean.isInstallationAuthDone()?'fa-check-square-o':'fa-bolt'}"></i> Registration: &nbsp;
                <h:graphicImage id="imageRegistrationMoo" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
                <h:panelGroup styleClass="badge" style="display:inline;" id="statusRegistrationMoo">
                    
                    <h:outputText value="done" rendered="#{applicationBean.isInstallationAuthDone()}"/>
                    <h:outputText value="Account has yet to be activated" rendered="#{applicationBean.doWeHaveAuthUserId() and not applicationBean.isInstallationAuthDone()}"/>
                    <h:outputText value="No account was created. Please press the button below to register a new account." rendered="#{!applicationBean.doWeHaveAuthUserId()}"/>
                </h:panelGroup>
                <br /><br />
                <p:commandButton id="registerMeButton" rendered="#{!applicationBean.doWeHaveAuthUserId()}" styleClass="btn btn-haha" action="#{configurationBean.registerAuth()}" value="Register">
                    <f:ajax execute="@form" render="statusBlockRegistration patient" onevent="monitorRegistration"/>
                </p:commandButton>
                <h:graphicImage id="authCheckButtonWorkingOfForm" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
                <p:commandButton ajax="false" rendered="#{applicationBean.doWeHaveAuthUserId() and not applicationBean.isInstallationAuthDone()}" id="authCheckButtonOfForm" value="Check authentication service" action="#{sessionBean.checkAuthService()}"  >
                    <f:ajax execute="@form" render="@page" onevent="monitorAuthOfFormCheckButton"/>
                </p:commandButton>
            </span>
        </span>	
    </h:panelGroup>

                        <c:if test="#{configurationBean.isAuthUrlcorrect() and applicationBean.doWeHaveAuthUserId() and not applicationBean.isInstallationAuthDone()}">
                            <h:outputScript target="body">
                                function monitorAuthOfFormCheckButton(data) {
                                    var loading = document.getElementById("authCheckButtonWorkingOfForm");
                                    var saveButton = document.getElementById("authCheckButtonOfForm");

                                    if(data.status == "begin"){
                                        loading.style.display = "inline";
                                        saveButton.style.display = "none";
                                    }
                                    else if(data.status == "success"){
                                        loading.style.display = "none";
                                        saveButton.style.display = "inline";
                                    }
                                }
                            </h:outputScript>
                        </c:if>
</ui:fragment>	

</h:panelGroup>
</h:panelGroup>

<h:commandButton styleClass="btn btn-haha" action="#{configurationBean.saveAuthUrl()}" value="Save">
            <f:ajax execute="@form" render="statusBlock" onevent="monitor"/>
</h:commandButton>
        
<h:commandButton type="reset" styleClass="btn btn-haha" value="Reset" id="reset" />
</h:form>

<h:outputScript target="body">
      function monitor(data){
          var loading = document.getElementById("imageMoo");
          var anzeige = document.getElementById("statusMoo");
          if(data.status == "begin"){
              loading.style.display = "inline";
              anzeige.style.display = "none";
          }
          else if(data.status == "success"){
              loading.style.display = "none";
              anzeige.style.display = "inline";
          }
      }
      
      function monitorRegistration(data){
          var loading = document.getElementById("imageRegistrationMoo");
          var anzeige = document.getElementById("statusRegistrationMoo");
          if(data.status == "begin"){
              loading.style.display = "inline";
              anzeige.style.display = "none";
          }
          else if(data.status == "success"){
              loading.style.display = "none";
              anzeige.style.display = "inline";
          }
      }
</h:outputScript>

</ui:composition>
</body>
</html>
