<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable" enctype="multipart/form-data">

<p:outputPanel layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
<p:outputPanel layout="block" styleClass="panel-heading">
<h4>Dashboard Design</h4><small>Here you can set some aspects of visual appearance of the dashboard page.</small>
</p:outputPanel>
<p:outputPanel layout="block" styleClass="panel-body">

    <h:outputLabel for="dashboardToggle" styleClass="dataElementField" value="Activate Dashboard" /><br />
    <p:outputPanel layout="block" styleClass="input-group">
        <p:selectBooleanButton styleClass="btn" onLabel="on" offLabel="off" value="#{designBean.formParam['design.useDashboard']}" id="dashboardToggle"/>
    </p:outputPanel>
    <br />
    <h:outputLabel for="imageUpload" styleClass="dataElementField" value="Dashboard Logo" /><br />
    <p:outputPanel layout="block" styleClass="input-group" id="image_handling">
        <p:fileUpload rendered="#{!designBean.isLogoSet('design.dashboard_image')}"  fileUploadListener="#{designBean.uploadDashboardImage}" skinSimple="true" mode="advanced" id="imageUpload" auto="true" allowTypes="/(\.|\/)(gif|jpe?g|png|svg)$/" process="image_handling image_panel" update="image_handling image_panel"/>
        <p:commandLink rendered="#{designBean.isLogoSet('design.dashboard_image')}"  styleClass="btn btn-danger" action="#{designBean.deleteImage('design.dashboard_image')}" process="image_handling image_panel" update="image_handling image_panel">
            <i class="fa fa-trash-o"/> #{"delete"}
        </p:commandLink>
    </p:outputPanel>
    <br />
    <p:outputPanel  layout="block" id="image_panel" styleClass="input-group">
        <h:graphicImage rendered="#{designBean.isLogoSet('design.dashboard_image')}" value="#{designBean.getImageString('design.dashboard_image')}"  width="300"/>
    </p:outputPanel>

</p:outputPanel>
    <p:outputPanel layout="block" styleClass="panel-heading">
        <small>Here you can set some localized aspects of visual appearance of the dashboard page.</small>
    </p:outputPanel>
    <p:outputPanel layout="block" styleClass="panel-body">
        <h:panelGroup style="width: 100%; float: left;">
            <h:outputLabel for="languageSelection" styleClass="dataElementField hasTooltip"
                           value="Language"/>

            <h:selectOneMenu id="languageSelection" value="#{designBean.currentLanguage}">
                <f:selectItems value="#{designBean.languages}"></f:selectItems>
                <f:ajax render="registryName greetingText linkListTable documentListTable"></f:ajax>
            </h:selectOneMenu>
        </h:panelGroup>
        <br />
        <h:outputLabel for="registryName" styleClass="dataElementField" value="Registry Name" style="margin-top: 25px"/>
        <p:outputPanel layout="block" styleClass="input-group">
            <p:inputText value="#{designBean.dashboardDesign.localizedDesign[designBean.currentLanguage].registryName}" styleClass="form-control" size="80" id="registryName" />
        </p:outputPanel>
        <br />
        <h:outputLabel for="greetingText" styleClass="dataElementField" value="Greeting Text" style="margin-top: 25px"/>
        <p:outputPanel layout="block" styleClass="input-group">
            <p:inputTextarea value="#{designBean.dashboardDesign.localizedDesign[designBean.currentLanguage].greetingsText}" rows="5" cols="80" styleClass="form-control" id="greetingText" />
        </p:outputPanel>
        <br />
        <h:outputLabel for="linkList" styleClass="dataElementField hasTooltip"
                       value="List of links" style="margin-top: 25px"/>
        <p:outputPanel style="display: block; width: auto; float: left;" id="linkList">
            <p:dataTable value="#{designBean.getCurrSelectedDashboardDesignLocal().linkList}" var="link" editable="false" id="linkListTable">
                <p:column style="width:10em" headerText="Description">
                    <h:inputText value="#{link.name}"/>
                </p:column>
                <p:column style="width:10em" headerText="URL">
                    <h:inputText value="#{link.url}"/>
                </p:column>
            </p:dataTable>

            <p:commandButton value="Add new link" process="@this"
                             action="#{designBean.getCurrSelectedDashboardDesignLocal().onAddNewLink}" ajax="true" update="linkList"/>
        </p:outputPanel>
        <br />
        <h:outputLabel for="documentList" styleClass="dataElementField hasTooltip"
                       value="List of documents" style="margin-top: 25px"/>
        <p:outputPanel style="display: block; width: auto; float: left; margin-bottom: 25px" id="documentList">
            <p:dataTable value="#{designBean.getCurrSelectedDashboardDesignLocal().documentList}" var="document" editable="false" id="documentListTable">
                <p:column style="width:10em" headerText="Description">
                    <h:inputText value="#{document.name}"/>
                </p:column>
                <p:column style="width:10em" headerText="URL">
                    <h:inputText value="#{document.url}"/>
                </p:column>
            </p:dataTable>

            <p:commandButton value="Add new document" process="@this"
                             action="#{designBean.getCurrSelectedDashboardDesignLocal().onAddNewLink}" ajax="true" update="documentList"/>
        </p:outputPanel>
    </p:outputPanel>
</p:outputPanel>


<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{designBean.saveConfiguration()}" >
<i class="fa fa-check fa-fw" /> #{msg.savebutton}
</h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" onclick="if (! confirm('Are you sure you want to cancel?')) return false" action="#{designBean.cancel()}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>

</h:form>
</ui:composition>
</body>
</html>
