<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
>

<body>
<ui:composition>
    <h:form prependId="false" styleClass="iseditable">

        <h:panelGroup layout="block" styleClass="panel panel-default" id="importerform"
                      style="margin-bottom: 0px;">
            <h:panelGroup layout="block" styleClass="panel-heading">
                <h4>Imprint and privacy Settings</h4>
                <small>Here you can manage the imprint and data protection links shown on the login screen.</small>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="panel-body">


                <h:panelGroup style="width: 100%; float: left;">
                    <h:outputLabel for="languageSelection" styleClass="dataElementField hasTooltip"
                                   value="Language"/>

                    <h:selectOneMenu id="languageSelection" value="#{imprintBean.currentLanguage}">
                        <f:selectItems value="#{imprintBean.languages}"></f:selectItems>
                        <f:ajax render="imprintLink dataProtectionLink"></f:ajax>
                    </h:selectOneMenu>
                </h:panelGroup>

                <h:panelGroup style="margin-top: 25px; display: block; width: auto; float: left;">
                    <h:outputLabel for="imprintLink" styleClass="dataElementField hasTooltip"
                                   value="Imprint Link"/>
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="80"
                                 value="#{imprintBean.imprintLinks[imprintBean.currentLanguage]}"
                                 id="imprintLink" rendered="true"/>
                </h:panelGroup>

                <h:panelGroup style="margin-top: 25px; display: block; width: auto; float: left;">
                    <h:outputLabel for="dataProtectionLink" styleClass="dataElementField hasTooltip"
                                   value="Privacy Link"/>
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="80"
                                 value="#{imprintBean.privacyLinks[imprintBean.currentLanguage]}"
                                 id="dataProtectionLink" rendered="true"/>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
            <h:graphicImage id="saveButtonWorking"
                            value="#{resource['images:ajax-loader.gif']}" style="display:none;"/>

            <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit"
                           id="save" action="#{imprintBean.saveSettings()}">
                <i class="fa fa-check fa-fw"/> #{msg.savebutton}
                <f:ajax execute="@form" render="stickyButtonBar"
                        onevent="monitorButton"/>
            </h:commandLink>
            <h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit"
                           onclick="if (! confirm('Are you sure you want to cancel?')){return false
}"
                           action="#{configurationBean.cancel()}">
                <i class="fa fa-undo fa-fw"/> #{msg.cancel}
            </h:commandLink>
        </h:panelGroup>
    </h:form>
    <h:outputScript target="body" library="js" name="monitorButton.js"/>
</ui:composition>
</body>
</html>
