<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"



>
<body>
<ui:composition>
    <h:form prependId="false" styleClass="iseditable">

        <p:outputPanel layout="block" styleClass="panel panel-default">
            <p:outputPanel layout="block" styleClass="panel-heading">
                <h4>OSSE FAIR-Data Point Configuration</h4>
                <small>Here you can configure the OSSE-FAIR Data Point.</small>
            </p:outputPanel>
            <p:outputPanel layout="block" styleClass="panel-body">
                <h4><b>FAIR-Data Point Metadata</b></h4>
                <br></br>

                <h:outputLabel for="" styleClass="dataElementField hasTooltip" value="Activate FAIR Data Point"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:selectOneMenu id="Activation" value = "#{configurationBean.formParam['fair.fdp.activation']}">
                        <f:selectItem itemValue = "Activate" itemLabel = "Activate" />
                        <f:selectItem itemValue = "Deactivate" itemLabel = "Deactivate" />
                    </h:selectOneMenu>
                    <p:tooltip id="toolTipFDPActivation" position="top" for="Activation" value="Activate or deactive FAIR Data Point" />
                </p:outputPanel>

                <br></br>




                <h:outputLabel for="Description" styleClass="dataElementField hasTooltip" value="Description" color="red"/>

                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" class="hasTooltip" style="display:block;width:500px"
                                 size="0" value="#{configurationBean.formParam['fair.fdpmetadata.description']}"
                                 id="fdpDescription"/>

                    <p:tooltip id="toolTipFDPDescription" position="top" for="fdpDescription" value="Description of the FAIR Data Point"/>
                </p:outputPanel>
                <br></br>

                <h:outputLabel for="Publisher" styleClass="dataElementField hasTooltip" value="Publisher"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" style="display:block;width:500px"
                                 size="0" value="#{configurationBean.formParam['fair.fdpmetadata.publisher']}"
                                 id="fdpPublisher"/>

                    <p:tooltip id="toolTipFDPPublisher" position="top" for="fdpPublisher" value="Publisher of the FAIR Data Point, e.g. the Registry Provider"/>
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="Version" styleClass="dataElementField hasTooltip" value="Version"/>
                <h:outputLabel for="VersionFDPStar"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" style="display:block;width:500px"
                                 size="0" value="#{configurationBean.formParam['fair.fdpmetadata.version']}"
                                 id="fdpVersion"/>

                    <p:tooltip id="toolTipFDPVersion" position="top" for="fdpVersion" value="Version of the FAIR Datapoint Metadata, e.g. 1.0" />
                </p:outputPanel>
                <br></br>

                <h:outputLabel for="URL" styleClass="dataElementField hasTooltip" value="URL"/>
                <h:outputLabel for="DescriptionURL"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" style="display:block;width:500px"
                                 size="0" value="#{configurationBean.formParam['fair.fdpmetadata.url']}" id="fdpURL"/>

                    <p:tooltip id="toolTipFDPURL" position="top" for="fdpURL" value="URL of your registry" />
                </p:outputPanel>
                <br></br>

                <h:outputLabel for="Website" styleClass="dataElementField hasTooltip" value="Website"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" style="display:block;width:500px"
                                 size="0" value="#{configurationBean.formParam['fair.fdpmetadata.website']}"
                                 id="fdpWebsite"/>
                    <p:tooltip id="toolTipFDPWebsite" position="top" for="fdpWebsite" value="URL of the registry homepage or provider" />
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="Language" styleClass="dataElementField hasTooltip" value="Language"/>
                <p:outputPanel layout="block" styleClass="input-group">
                <h:selectOneMenu id ="fdpLanguage" value = "#{configurationBean.formParam['fair.fdpmetadata.language']}">
                    <f:selectItem itemValue = "German" itemLabel = "German" />
                    <f:selectItem itemValue = "English" itemLabel = "English" />

                    <p:tooltip id="toolTipFDPLanguage" position="top" for="fdpLanguage" value="Language of the registry" />
                </h:selectOneMenu>
                </p:outputPanel>
                <br></br>


                <h4><b>Catalog Metadata</b></h4>
                <br></br>

                <h:outputLabel for="DescriptionCatalog" styleClass="dataElementField hasTooltip" value="Description"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.catalog.description']}"
                                 id="catalogDescription"/>
                    <p:tooltip id="toolTipCatalogDescription" position="top" for="catalogDescription" value="Catalog of the registry" />

                </p:outputPanel>
                <br></br>

                <h:outputLabel for="VersionCatalog" styleClass="dataElementField hasTooltip" value="Version"/>
                <h:outputLabel for="VersionCatalogStar"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.catalog.version']}" id="catalogVersion"/>
                    <p:tooltip id="toolTipCatalogVersion" position="top" for="catalogVersion" value="Version of the catalog" />
                </p:outputPanel>

                <br></br>

                <h4><b>Dataset Metadata</b></h4>
                <br></br>
                <h:outputLabel for="DescriptionDataSet" styleClass="dataElementField hasTooltip" value="Description"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.dataset.description']}"
                                 id="dataSetDescription"/>
                    <p:tooltip id="toolTipDatasetDescription" position="top" for="dataSetDescription" value="Description of the dataset" />

                </p:outputPanel>
                <br></br>

                <h:outputLabel for="VersionDataSet" styleClass="dataElementField hasTooltip" value="Version"/>
                <h:outputLabel for="VersionDatasetStar"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.dataset.version']}" id="dataSetVersion"/>

                    <p:tooltip id="toolTipDatasetVersion" position="top" for="dataSetVersion" value="Version of the dataset" />
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="ContactPointdataSet" styleClass="dataElementField hasTooltip" value="Contactpoint"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.dataset.contactpoint']}"
                                 id="dataSetContactpoint"/>

                    <p:tooltip id="toolTipDatasetContactPoint" position="top" for="dataSetContactpoint" value="Contact Information" />
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="KeywordsPointdataSet" styleClass="dataElementField hasTooltip" value="Keywords"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.dataset.keyword']}" id="dataSetKeyword"/>
                    <p:tooltip id="toolTipDatasetKeyword" position="top" for="dataSetKeyword" value="Some keywords of the registry" />
                </p:outputPanel>

                <br></br>


                <h:outputLabel for="ThemeDataSet" styleClass="dataElementField hasTooltip" value="Theme"/>
                <h:outputLabel for="ThemeDataSetStar"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.dataset.theme']}" id="dataTheme"/>
                    <p:tooltip id="toolTipDatasetTheme" position="top" for="dataTheme" value="Theme of the dataset. Please check: http://www.ebi.ac.uk/ols/ontologies/ordo" />
                </p:outputPanel>

                <br></br>

                <h4><b>Distribution Metadata</b></h4>
                <br></br>
                <h:outputLabel for="Descriptiondistribution" styleClass="dataElementField hasTooltip"
                               value="Description"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.distribution.description']}"
                                 id="distributionDescription"/>
                    <p:tooltip id="toolTipDistributionDescription" position="top" for="distributionDescription" value="Discription of the distribution" />
                </p:outputPanel>
                <br></br>

                <h:outputLabel for="Versiondistribution" styleClass="dataElementField hasTooltip" value="Version"/>
                <h:outputLabel for="VersionDistributionStar"  style="color:red" value="*" />
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.distribution.version']}"
                                 id="distributionVersion"/>
                    <p:tooltip id="toolTipDistributionVersion" position="top" for="distributionVersion" value="Version of the distribution" />
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="MediaTypedistribution" styleClass="dataElementField hasTooltip" value="Mediatype"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:selectOneMenu id="distributionMediatype" value = "#{configurationBean.formParam['fair.distribution.mediatype']}">
                        <f:selectItem itemValue = "text/json" itemLabel = "text/json" />
                    </h:selectOneMenu>
                    <p:tooltip id="toolTipDistributionMediatype" position="top" for="distributionMediatype" value="Mediatype of the distribution e.g. xml, json, turtle" />
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="StarField"  style="color:red" value="*" />
                <h:outputLabel for="StarFieldContent" value="Necessary field"/>

              <!--  <h:outputLabel for="MediaTypedistribution" styleClass="dataElementField hasTooltip" value="Mediatype"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.distribution.mediatype']}"
                                 id="distributionMediaType"/>
                </p:outputPanel>

                <br></br>

                <h:outputLabel for="FormatDistribution" styleClass="dataElementField hasTooltip" value="Format"/>
                <p:outputPanel layout="block" styleClass="input-group">
                    <h:inputText type="text" styleClass="form-control hasTooltip" size="0"
                                 style="display:block;width:500px"
                                 value="#{configurationBean.formParam['fair.distribution.format']}"
                                 id="distributionFormat"/>
                </p:outputPanel>

                <br></br>-->


            </p:outputPanel>
        </p:outputPanel>


        <p:commandButton style="margin-right: 10px;" styleClass="btn btn-success" value="#{msg.formbutton_save}"
                         id="save" action="#{configurationBean.checkFairData()}"/>

        <p:commandButton type="reset" styleClass="btn btn-danger" value="#{msg.cancel}" id="reset"/>

    </h:form>
</ui:composition>
</body>
</html>
