<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<body>
    <ui:composition>

<ui:fragment rendered="false">	
<h:form prependId="false" styleClass="iseditable">
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Registry Design</h4><small>Your forms will be stored in this form repository and will be available for your registry.</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

    <h:outputLabel for="urlFE" styleClass="dataElementField hasTooltip" value="URL of FormEditor" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:selectOneMenu requiredMessage="#{msg.required}" required="#{empty param['disableValidation']}"
                        value="#{configurationBean.formParam['formeditor.base']}" id="urlFE">
            <f:selectItems value="#{configurationBean.formRepositorySelectItems}" />
        </h:selectOneMenu>
    </h:panelGroup>

<ui:fragment rendered="#{registerFormsBean.allForms == null}">
    <h:panelGroup layout="block" styleClass="panel panel-danger">
        <h:panelGroup layout="block" styleClass="panel-heading">The selected form repository is not offering any services.</h:panelGroup>
    </h:panelGroup>
</ui:fragment>

    <h:commandButton styleClass="btn btn-success" value="#{msg.formbutton_save}" id="saveURL" action="#{configurationBean.saveFR()}" />
    <h:commandButton type="reset" styleClass="btn btn-danger" value="Reset" id="reset" />

</h:panelGroup>
</h:panelGroup>

</h:form>

<br />

</ui:fragment>


<ui:fragment rendered="#{applicationBean.isInstallationFormRepositoryDone() and registerFormsBean.allForms != null}">	
    <h:outputScript rendered="#{applicationBean.isInstallationFormRepositoryDone()}" library="js" name="registereditor.js" />
    
        <h:form prependId="false">
                    <!--  here comes your page content -->
                    
                    <h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
                    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Forms in the registry</h4>
                        <h:commandLink style="margin-top: 7px;" styleClass="btn btn-success hasTooltip" title="By pressing this button, the form editor will be opened in another window/tab of your browser. With the form editor you can create new forms or edit existing ones in your form repository. The form repository is located on a central server." target="_new_osse_form_repository_window" action="#{applicationBean.goFormRepository()}" value="Start the form editor" />
                        &#160;
                        <h:commandLink style="margin-top: 7px;" styleClass="btn btn-success hasTooltip" title="By pressing this button, the MDR will be opened in another window/tab of your browser. Use the MDR to create or edit data elements for your registry. The MDR is located on a central server." target="_new_osse_mdr_window" action="#{applicationBean.goMdr()}" value="Open MDR" />
                        <ui:fragment rendered="#{applicationBean.hasCaseForms()}">
                            <h:panelGroup style="float: right">
                                <h:commandButton styleClass="btn btn-success hasTooltip" title="Here you can download a CSV list of the current data elements in the registry." ajax="false" actionListener="#{bridgeheadFormsBean.downloadCsv()}" value="Download CSV"/>
                                &#160;
                                <h:commandButton styleClass="btn btn-success hasTooltip" title="Here you can download the XSD scheme for the current forms in the registry." ajax="false" actionListener="#{bridgeheadFormsBean.downloadXsd()}" value="Download XSD"/>
                            </h:panelGroup>
                        </ui:fragment>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="panel-body">
                    <h:panelGroup layout="block" styleClass="fadein content">

<h:panelGroup layout="block" styleClass="col-xs-6">
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading"><h4>Basic data forms</h4></h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
                    
            <h:inputHidden value="#{registerFormsBean.items}" id="items" />
            <h:inputHidden value="#{registerFormsBean.itemsTemp}" id="itemsTemp" />

            <h:commandButton style="display:none" action="#{registerFormsBean.refreshItems}" id="refreshItems">
                <f:ajax render="sortableItemPanel" execute="@form" />
            </h:commandButton>

            <h:panelGroup id="sortableItemPanel" styleClass="sortableItemPanel droptrue col-xs-12 ui-sortable ui-droppable" layout="block">

                <h:panelGroup id="dragInfo" layout="block" rendered="#{registerFormsBean.elements.size() == 0}">
                    <h:panelGroup layout="block" style="font-size: 30px;">
                        <i class="fa fa-hand-o-up"></i> <br /> Add Item
                    </h:panelGroup>
                    <h:panelGroup layout="block">Simply drag and drop</h:panelGroup>
                </h:panelGroup>




<ui:repeat var="item" value="#{registerFormsBean.elements}">
<h:panelGroup layout="block" styleClass="formItem row vertical-center ui-sortable-handle" style="border-color: #628599;">
                        <!-- nur links -->
                        <h:panelGroup styleClass="col-xs-1 vCenter">
                        <ui:remove>
                            <i class="fa fa-arrows-v sortableArrow"></i>
                        </ui:remove>
                        </h:panelGroup>

                        <h:panelGroup styleClass="col-xs-10 vCenter">
                            <span class="designation">#{registerFormsBean.getFormTranslatedName(item, sessionBean.getCurrentLanguage())}</span>
                            <span class="formversion">Version: #{item['version']}</span>
                            <span class="definition">#{registerFormsBean.getFormTranslatedDescription(item, sessionBean.getCurrentLanguage())}</span>
                            <span class="urn">#{item['osseid']}</span>
                            <span title="Toggle this to define it as patientform or default form." class="patform hasTooltip" ><h:selectBooleanCheckbox id="patFormToggle" onchange="updateColor(this);" value="#{registerFormsBean.patientFormSelection[item['osseid']]}"/><h:outputLabel style="font-weight: normal; padding-top: 5px; vertical-align: 1px;" for="patFormToggle" >Patient reported outcome (PRO)</h:outputLabel></span>
                        </h:panelGroup>

                        <!-- nur links -->
                        <h:panelGroup styleClass="col-xs-1 vCenter">
                            <button title="By pressing this button you remove the form '#{registerFormsBean.getFormTranslatedName(item, sessionBean.getCurrentLanguage())}' from your registry." onclick="removeItem(this);" class="btn btn-default hasTooltip" type="button">
                                <i class="fa fa-trash-o text-warning" />
                            </button>
                        </h:panelGroup>
</h:panelGroup>
</ui:repeat>
                
                <h:outputScript>
                activateDrag();
                </h:outputScript>

            </h:panelGroup>

</h:panelGroup>
</h:panelGroup>


<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading"><h4>Longitudinal data forms</h4></h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">


            <h:inputHidden value="#{registerFormsBean.itemsEpisode}" id="itemsEpisode" />
            <h:inputHidden value="#{registerFormsBean.itemsEpisodeTemp}" id="itemsEpisodeTemp" />
            
            <h:commandButton style="display:none" action="#{registerFormsBean.refreshItemsEpisode}" id="refreshItemsEpisode">
                <f:ajax render="sortableItemPanelEpisode" execute="@form" />
            </h:commandButton>

            <h:panelGroup id="sortableItemPanelEpisode" styleClass="sortableItemPanelEpisode droptrue col-xs-12 ui-sortable ui-droppable" layout="block">

                <h:panelGroup id="dragInfoEpisode" layout="block" rendered="#{registerFormsBean.elementsEpisode.size() == 0}">
                    <h:panelGroup layout="block" style="font-size: 30px;">
                        <i class="fa fa-hand-o-up"></i> <br /> Add Item
                    </h:panelGroup>
                    <h:panelGroup layout="block">Simply drag and drop</h:panelGroup>
                </h:panelGroup>




<ui:repeat var="item" value="#{registerFormsBean.elementsEpisode}">
                <h:panelGroup layout="block" styleClass="formItem row vertical-center ui-sortable-handle" style="border-color: #628599;">
    
                            <!-- nur links -->
                            <h:panelGroup styleClass="col-xs-1 vCenter">
                            <ui:remove>
                                <i class="fa fa-arrows-v sortableArrow"></i>
                            </ui:remove>
                            </h:panelGroup>
    
                            <h:panelGroup styleClass="col-xs-10 vCenter">
                                <span class="designation">#{registerFormsBean.getFormTranslatedName(item, sessionBean.getCurrentLanguage())}</span>
                                <span class="formversion">Version: #{item['version']}</span>
                                <span class="definition">#{registerFormsBean.getFormTranslatedDescription(item, sessionBean.getCurrentLanguage())}</span>
                                <span class="urn">#{item['osseid']}</span>
                                <span title="Toggle this to define it as patientform or default form." class="patform hasTooltip"><h:selectBooleanCheckbox id="patFormToggleA" onchange="updateColor(this);" value="#{registerFormsBean.patientFormSelection[item['osseid']]}" /><h:outputLabel style="font-weight: normal; padding-top: 5px; vertical-align: 1px;" for="patFormToggleA" >Patient reported outcome (PRO)</h:outputLabel></span>
                            </h:panelGroup>
    
                            <!-- nur links -->
                            <h:panelGroup styleClass="col-xs-1 vCenter">
                                <button onclick="removeItemEpisode(this);" title="By pressing this button you remove the form '#{registerFormsBean.getFormTranslatedName(item, sessionBean.getCurrentLanguage())}' from your registry." class="btn btn-default hasTooltip" type="button">
                                    <i class="fa fa-trash-o text-warning" />
                                </button>
                            </h:panelGroup>
                </h:panelGroup>
</ui:repeat>
                

                <h:outputScript>
                activateDrag();
                </h:outputScript>

            </h:panelGroup>

</h:panelGroup>
</h:panelGroup>

</h:panelGroup>



                <h:panelGroup id="availableFormsPanel" layout="block" styleClass="col-xs-6 scrollable panelRight">
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading"><h4>Available forms</h4><small>Listed here are all forms you have published in your form editor.</small><br />
<h:graphicImage id="reloadButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
<h:commandLink styleClass="btn btn-default hasTooltip" action="#{registerFormsBean.reloadAllForms}" id="reloadButton" title="This button refreshes the list of available forms. If you have changed or added new forms in your form repository, press this button to update the list shown here.">
<i class="fa fa-refresh"></i> Refresh list
<f:ajax render="availableFormsPanel" onevent="monitorReloadButton"/>
</h:commandLink>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">


                        <h:panelGroup layout="block" id="searchResultTab" >
                            <h:panelGroup id="searchResults" layout="block">

<ui:repeat var="item" value="#{registerFormsBean.allForms}">
    
                                <h:panelGroup styleClass="formItem formItem-record col-xs-12 draggable ui-draggable ui-draggable-handle" layout="block" pt:draggable="true" style="border-color: #628599;">
                                    <h:panelGroup styleClass="detailLink col-xs-11 vCenter">

<!-- 										<h:panelGroup styleClass="col-xs-12 vCenter"> -->
                                            <span class="designation">#{registerFormsBean.getFormTranslatedName(item, sessionBean.getCurrentLanguage())}</span>
                                            <span class="formversion">Version: #{item['version']}</span>
                                            <span class="definition">#{registerFormsBean.getFormTranslatedDescription(item, sessionBean.getCurrentLanguage())}</span>
                                            <span class="urn">#{item['osseid']}</span>
<!-- 										</h:panelGroup> -->

                                    </h:panelGroup>
<ui:remove>
                                    <!--  nur rechts -->
                                    <h:panelGroup styleClass="col-xs-1 vCenter">
                                        <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle">
                                            <i class="fa fa-angle-down" />
                                        </button>
                                        
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation">
                                                <h:outputLink target="_previewframe" value="preview.xhtml">
                                                    <f:param name="urn" value="#{item['id']}"/>
                                                </h:outputLink>
                                            </li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation">
                                                <h:commandLink action="#{applicationBean.goFormRepository}">
                                                    <h:outputText value="Go to formrepository" />
                                                </h:commandLink>
                                            </li>
                                        </ul>
                
                                    </h:panelGroup>
</ui:remove>
                                    
                                </h:panelGroup>

                                <h:outputScript>
                            activateDrag();
                            
                        </h:outputScript>
                        
</ui:repeat>
                            </h:panelGroup>
                        </h:panelGroup>

                </h:panelGroup>
</h:panelGroup>
</h:panelGroup>



</h:panelGroup>

                

</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar_forms" id="stickyButtonBar">
    <h:graphicImage id="saveButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
    <h:commandLink styleClass="btn btn-success" style="margin-right: 20px;" id="save" action="#{registerFormsBean.save}">
        <i class="fa fa-check fa-fw" /> #{msg.formbutton_save} 
        <f:ajax execute="@form" render="stickyButtonBar :left_formtabs" onevent="monitorButton"/>
    </h:commandLink>
    <h:commandLink styleClass="btn btn-danger" id="cancel" immediate="true" onclick="if (! confirm('Are you sure you want to cancel?')) return false"    action="#{registerFormsBean.cancel}">
        <i class="fa fa-undo fa-fw" /> #{msg.cancel}
        <f:param name="disableValidation" value="true" />
    </h:commandLink>
</h:panelGroup>

                
        </h:form>

<h:outputStylesheet name="animate.css" library="css"/>
<h:outputScript library="js" name="bootstrap-growl.min.js" />

<h:outputScript target="body" library="js" name="monitorButton.js" />		
<h:outputScript library="js" name="scripts.js" />

<h:outputScript target="body">
function monitorReloadButton(data) {
  var reloading = document.getElementById("reloadButtonWorking");
  var reloadButton = document.getElementById("reloadButton");

  if(data.status == "begin"){
    reloading.style.display = "inline";
    reloadButton.style.display = "none";
  }
  else if(data.status == "success"){
    reloading.style.display = "none";
    reloadButton.style.display = "true";
  }
}

</h:outputScript>

</ui:fragment>		
    </ui:composition>
</body>
</html>