<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
<body>
    <ui:composition>

<ui:fragment rendered="false">	
<h:form prependId="false" styleClass="iseditable">
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Bridgehead Forms</h4><small></small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

    <h:outputLabel for="urlFE" styleClass="dataElementField hasTooltip" value="URL of FormEditor" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:selectOneMenu requiredMessage="#{msg.required}" required="#{empty param['disableValidation']}"
                        value="#{configurationBean.formParam['formeditor.base']}" id="urlFE"
                        name="urlFE">
            <f:selectItems value="#{configurationBean.formRepositorySelectItems}" />
        </h:selectOneMenu>
    </h:panelGroup>

<ui:fragment rendered="#{registerFormsBean.allForms == null}">
    <h:panelGroup layout="block" styleClass="panel panel-danger">
        <h:panelGroup layout="block" styleClass="panel-heading">The selected form repository is not offering any services.</h:panelGroup>
    </h:panelGroup>
</ui:fragment>

    <h:commandButton styleClass="btn btn-success" value="#{msg.formbutton_save}" id="saveURL" action="#{configurationBean.saveFR()}" />
    <h:commandButton type="reset" styleClass="btn btn-danger" value="Reset" id="reset" />

</h:panelGroup>
</h:panelGroup>

</h:form>

<br />

</ui:fragment>


<ui:fragment rendered="#{applicationBean.isInstallationFormRepositoryDone() and registerFormsBean.allForms != null}">	
<h:outputScript rendered="#{applicationBean.isInstallationFormRepositoryDone()}" library="js" name="registereditor.js" />
    
        <h:form prependId="false">
                    <!--  here comes your page content -->
                    
                    <h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
                    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Forms in the bridgehead</h4>
                        <h:commandLink style="margin-top: 7px;" styleClass="btn btn-success hasTooltip" title="By pressing this button, the form editor will be opened in another window/tab of your browser. With the form editor you can create new forms or edit existing ones in your form repository. The form repository is located on a central server hosted by Universitätsmedizin Mainz." target="_new_osse_window" action="#{applicationBean.goFormRepository()}" value="Start the form editor" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="panel-body">
                    <h:panelGroup id="bridgeforms" layout="block" styleClass="fadein content">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-lg-2">
Basic Data:
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-lg-4">
<ui:fragment rendered="#{applicationBean.hasCaseForms()}">
Imported - Version #{bridgeheadFormsBean.caseFormVersion()}
</ui:fragment>
<ui:fragment rendered="#{!applicationBean.hasCaseForms()}">
Not imported yet
</ui:fragment>
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-lg-2">
Longitudinal Data:
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-lg-4">
<ui:fragment rendered="#{applicationBean.hasCaseForms()}">
Imported - Version #{bridgeheadFormsBean.episodeFormVersion()}
</ui:fragment>
<ui:fragment rendered="#{!applicationBean.hasCaseForms()}">
Not imported yet
</ui:fragment>
</h:panelGroup>
</h:panelGroup>


<ui:fragment rendered="#{applicationBean.hasCaseForms()}">
<h:panelGroup layout="block" styleClass="row" style="margin-top: 10px;">
<h:panelGroup layout="block" styleClass="col-lg-2">
Specific XSD:
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-lg-4">
<h:commandButton ajax="false" actionListener="#{bridgeheadFormsBean.downloadXsd()}" value="Download XSD"/>
</h:panelGroup>
</h:panelGroup>
</ui:fragment>

</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
    <h:graphicImage id="saveButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
    <h:commandButton style="margin-right: 10px;" title="With this button you can import the latest bridgehead forms." styleClass="btn btn-success hasTooltip" ajax="false" type="submit" id="save" value="Import Forms" action="#{bridgeheadFormsBean.importForms()}" >
        <f:ajax execute="@form" render="stickyButtonBar bridgeforms" onevent="monitorButton"/>
    </h:commandButton>
</h:panelGroup>

                
        </h:form>

<h:outputScript target="body" library="js" name="monitorButton.js" />		

</ui:fragment>		
    </ui:composition>
</body>
</html>