<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:panelGroup layout="block" styleClass="panel panel-default">

<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Locations</h4><small>(centres, clinical departments, medical practices)</small>
</h:panelGroup>

<h:form prependId="false" styleClass="iseditable">
<h:panelGroup layout="block" styleClass="panel-body">
            <p:dataTable id="locationlist" value="#{locationBean.locations}" var="o" sortBy="#{o.name}">
                <p:column sortBy="#{o.locationResource.id}" style="width:4em" headerText="ID">
                    <h:commandLink action="#{locationBean.editLocation(o)}" value="#{o.locationResource.id}" title="Edit the location: #{o.locationResource.id}"/>
                </p:column>
                <p:column sortBy="#{o.name}" headerText="Location">
                    <h:commandLink action="#{locationBean.editLocation(o)}" value="#{o.name}" title="Edit the location: #{o.name}"/>
                </p:column>
                <p:column style="width:4em">
                <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                <h:commandLink action="#{locationBean.editLocation(o)}" title="Edit the location: #{o.name}">
                    <h:panelGroup styleClass="fa fa-edit" />
                </h:commandLink>
<ui:remove>    			
                &#160;&#160;
                <h:commandLink actionListener="#{locationBean.setToDeleteLocation(o)}" onclick="confirmationDeletePage.show()" >
                    <h:panelGroup styleClass="fa fa-trash-o" />
                </h:commandLink>
</ui:remove>
                </p:column>    			
            </p:dataTable>
            
            <h:commandLink style="margin-top: 10px;" styleClass="btn btn-success" ajax="false" action="#{locationBean.goAddLocation()}">
            <i class="fa fa-plus" /> #{msg.usergroup_add}
            </h:commandLink>

            <p:confirmDialog id="deleteLocationConfirmPage" message="#{msg.confirm_delete_user}" header="#{msg.confirm_delete_user_title}" severity="alert" widgetVar="confirmationDeletePage">
                <p:commandButton id="killLocationYes" type="submit" ajax="false" value="#{msg.confirm_switch_executor}" action="#{locationBean.deleteLocation}" onclick="confirmationDeletePage.hide()"/>
                <p:commandButton id="declineLocationDelete" value="#{msg.formbutton_import_no}" onclick="confirmationDeletePage.hide()" type="button" />
            </p:confirmDialog>
            
</h:panelGroup>
</h:form>
</h:panelGroup>
</ui:composition>
</body>
</html>