<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">
    
<p:outputPanel layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
<p:outputPanel layout="block" styleClass="panel-heading">
<h4>Login Design</h4><small>Here you can set some aspects of visual appearance of the login page.</small>
</p:outputPanel>
    <p:outputPanel layout="block" styleClass="panel-body">
        <h:outputLabel for="loginToggle" styleClass="dataElementField" value="Activate custom login" /><br />
        <p:outputPanel layout="block" styleClass="input-group">
            <p:selectBooleanButton styleClass="btn" onLabel="on" offLabel="off" value="#{designBean.formParam['design.custom_login']}" id="loginToggle"/>
        </p:outputPanel>
        <br />
        <h:outputLabel for="registryName" styleClass="dataElementField" value="Login Headline" /><br />
        <p:outputPanel layout="block" styleClass="input-group">
            <p:inputText value="#{designBean.formParam['design.login_headline']}" styleClass="form-control" size="80" id="registryName" />
        </p:outputPanel>
        <br />
        <h:outputLabel for="greetingText" styleClass="dataElementField" value="Login Text" /><br />
        <p:outputPanel layout="block" styleClass="input-group">
            <p:inputTextarea value="#{designBean.formParam['design.login_text']}" rows="5" cols="80" styleClass="form-control" id="greetingText" />
        </p:outputPanel>
        <br />

        <h:outputLabel for="imageUpload" styleClass="dataElementField" value="Login Logo" /><br />
        <p:outputPanel layout="block" styleClass="input-group" id="image_handling">
            <p:fileUpload rendered="#{!designBean.isLogoSet('design.login_image')}"  fileUploadListener="#{designBean.uploadLoginImage}" skinSimple="true" mode="advanced" id="imageUpload" auto="true" allowTypes="/(\.|\/)(gif|jpe?g|png|svg)$/" process="image_handling image_panel" update="image_handling image_panel"/>
            <p:commandLink rendered="#{designBean.isLogoSet('design.login_image')}"  styleClass="btn btn-danger" action="#{designBean.deleteImage('design.login_image')}" process="image_handling image_panel" update="image_handling image_panel">
                <i class="fa fa-trash-o"/> #{"delete"}
            </p:commandLink>
        </p:outputPanel>
        <br />
        <p:outputPanel  layout="block" id="image_panel" styleClass="input-group">
            <h:graphicImage rendered="#{designBean.isLogoSet('design.login_image')}" value="#{designBean.getImageString('design.login_image')}"  width="300"/>
        </p:outputPanel>

    </p:outputPanel>
</p:outputPanel>
    <h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{designBean.saveConfiguration()}" >
<i class="fa fa-check fa-fw" /> #{msg.savebutton}
</h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" onclick="if (! confirm('Are you sure you want to cancel?')) return false"  action="#{designBean.cancel()}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>

</h:form>
</ui:composition>
</body>
</html>
