<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
>

<body>
<ui:composition>
    <h:form prependId="false" styleClass="iseditable">

        <h:panelGroup layout="block" styleClass="panel panel-default" id="importerform"
                      style="margin-bottom: 0px;">
            <h:panelGroup layout="block" styleClass="panel-heading">
                <h4>Multi factor authentication</h4>
                <small>Here you can manage settings regarding multi factor authentication. This will allow users to enable the activated multi factor authentication procedure in their profile settings.</small>
            </h:panelGroup>
            <h:panelGroup layout="block" styleClass="panel-body">

                <h:outputLabel for="totpToggle" styleClass="dataElementField hasTooltip"
                               value="TOTP multifactor authentication"/>
                <h:panelGroup layout="block" styleClass="input-group">
                    <p:selectBooleanButton onLabel="on" offLabel="off"
                                           value="#{configurationBean.formParam['authentication.totp']}"
                                           id="totpToggle"/>
                </h:panelGroup>
                <br />

            </h:panelGroup>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
            <h:graphicImage id="saveButtonWorking"
                            value="#{resource['images:ajax-loader.gif']}" style="display:none;"/>

            <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit"
                           id="save" action="#{configurationBean.saveConfiguration()}">
                <i class="fa fa-check fa-fw"/> #{msg.savebutton}
                <f:ajax execute="@form" render="stickyButtonBar"
                        onevent="monitorButton"/>
            </h:commandLink>
            <h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit"
                           onclick="if (! confirm('Are you sure you want to cancel?')){return false
}"
                           action="#{configurationBean.cancel()}">
                <i class="fa fa-undo fa-fw"/> #{msg.cancel}
            </h:commandLink>
        </h:panelGroup>
    </h:form>
    <h:outputScript target="body" library="js" name="monitorButton.js"/>
</ui:composition>
</body>
</html>
