<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">

<h:panelGroup layout="block" styleClass="panel panel-default" id="registerSettings" style="margin-bottom: 0px;">
<h:panelGroup layout="block" styleClass="panel-heading">
<ui:fragment rendered="#{applicationBean.isBridgehead()}" >
<h4>Bridgehead Settings</h4><small>Enter a short name and an e-mail address for your OSSE bridgehead. Once these values have been accepted in the OSSE Authentication Service, they cannot be changed anymore.</small>
</ui:fragment>
<ui:fragment rendered="#{!applicationBean.isBridgehead()}" >
<h4>Registry Settings</h4><small>Enter a short name and an e-mail address for your registry. Once the registry has been authorized in the OSSE components, these values cannot be changed anymore.</small>
</ui:fragment>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

<ui:fragment rendered="#{!applicationBean.isInstallationAuthDone()}">
    <h:outputLabel for="registryName" styleClass="dataElementField hasTooltip" value="Registry short name" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText style="width: 300px;white-space: normal" title="The short name of the registry is used to identify your registry in the OSSE components." required="true" requiredMessage="You need to provide a short name for your registry" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['registryName']}" id="registryName" />
        <p:tooltip for="registryName" showEvent="focus" hideEvent="blur" />
        <h:message for="registryName" />
    </h:panelGroup>
    
    <h:outputLabel for="email" style="margin-top:15px;" styleClass="dataElementField hasTooltip" value="Registry e-mail" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText validator="EmailAddresses" style="width: 300px;white-space: normal" title="The e-mail adress is used to authorize your registry to the OSSE components." required="true" requiredMessage="Please enter your e-mail adress to activate the registry" styleClass="form-control hasTooltip" size="80" value="#{configurationBean.formParam['registryEmail']}" id="email" />
        <p:tooltip for="email" showEvent="focus" hideEvent="blur" />
        <h:message for="email" />
    </h:panelGroup>
</ui:fragment>
<ui:fragment rendered="#{applicationBean.isInstallationAuthDone()}">
    <h:outputLabel for="registryNameNoChange" styleClass="dataElementField hasTooltip" value="Registry short name" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:outputText style="width: 300px;white-space: normal" title="The short name of the registry is used to identify your registry in the OSSE components. It cannot be changed once the registry has been authorized." styleClass="form-control hasTooltip" value="#{configurationBean.formParam['registryName']}" id="registryNameNoChange" />
    </h:panelGroup>
    <h:outputLabel for="emailNoChange" style="margin-top:15px;" styleClass="dataElementField hasTooltip" value="Registry e-mail" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:outputText style="width: 300px;white-space: normal" title="The e-mail adress is used to authorize your registry to the OSSE components. It cannot be changed once the registry has been authorized." styleClass="form-control hasTooltip" value="#{configurationBean.formParam['registryEmail']}" id="emailNoChange" />
    </h:panelGroup>	
</ui:fragment>
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="statusBlockRegistration" rendered="#{!applicationBean.isInstallationAuthDone()}">
    <h:graphicImage id="saveButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
    
    <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{configurationBean.saveRegister()}" >
        <i class="fa fa-check fa-fw" /> #{msg.savebutton}
        <f:ajax execute="@form" render="registerSettings statusBlockRegistration :left_formtabs" onevent="monitorButton"/>
    </h:commandLink>
    <h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" onclick="if (! confirm('Are you sure you want to cancel?')) return false"   action="#{configurationBean.cancel()}">
        <i class="fa fa-undo fa-fw" /> #{msg.cancel}
    </h:commandLink>
</h:panelGroup>

</h:form>
                
<h:outputScript target="body" library="js" name="monitorButton.js" />	

</ui:composition>
</body>
</html>
