<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:panelGroup layout="block" styleClass="panel panel-default">

<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Roles</h4>
</h:panelGroup>

<h:form prependId="false" styleClass="iseditable">

<h:panelGroup layout="block" class="panel-body">

            <p:dataTable value="#{roleBean.roles}" var="o"
                styleClass="order-table"
                headerClass="order-table-header"
                rowClasses="order-table-odd-row,order-table-even-row"
                sortBy="#{o.name}" 
                paginator="true" rows="20" paginatorAlwaysVisible="false"
                paginatorPosition="top"
            >
                    
                <p:column sortBy="#{o.name}" style="width:10em">
                    <f:facet name="header">Role name</f:facet>
                    <h:commandLink value="#{o.name}" action="#{roleBean.editRole(o)}" />
                </p:column>

                <p:column sortBy="#{o.rolelocation}" style="width:10em">
                    <f:facet name="header">Role location</f:facet>
                    <h:commandLink value="#{o.rolelocation}" action="#{roleBean.editRole(o)}" />
                </p:column>
                
                <p:column style="width:4em" >
                        <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                        
                        <h:commandLink action="#{roleBean.editRole(o)}"  title="Edit the role: #{o.name}">
                            <span class="fa fa-edit" />
                        </h:commandLink>
                        &#160;&#160;
                        <p:commandLink actionListener="#{roleBean.setToDeleteRole(o)}" onclick="confirmationDeletePage.show()" >
                            <span class="fa fa-delete" />
                        </p:commandLink>
                </p:column>    			
         
            </p:dataTable>
            <h:commandLink style="margin-top: 10px;" styleClass="btn btn-success" ajax="false" action="#{roleBean.goAddRole()}">
            <i class="fa fa-plus" /> #{ossemsg.addrole}
            </h:commandLink>
            
            <p:confirmDialog id="deletePatientConfirmPage" message="#{msg.confirm_delete_patient}" header="#{msg.confirm_delete_patient_title}" severity="alert" widgetVar="confirmationDeletePage">
                <p:commandButton id="killPatientYes" type="submit" ajax="false" value="#{msg.confirm_switch_executor}" action="#{roleBean.deleteRole}" onclick="confirmationDeletePage.hide()"/>
                <p:commandButton id="declinePatientDelete" value="#{msg.formbutton_import_no}" onclick="confirmationDeletePage.hide()" type="button" />
            </p:confirmDialog>
            
</h:panelGroup>
</h:form>
</h:panelGroup>

</ui:composition>
</body>
</html>
