<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<body>
	<ui:composition>


		<br></br>
		<h:outputText
			rendered="#{empty sessionBean.patientsWithReportedForms}">#{msg.no_forms_to_sign}</h:outputText>

		<h:form prependId="false">
			<ui:repeat id="patientMenuMeh" var="item"
				value="#{sessionBean.patientsWithReportedForms}"
				rendered="#{!(empty sessionBean.patientsWithReportedForms)}">
				<div style="border: 1px solid black; margin-bottom: 1em;">

					<h3>
						Patient:
						<h:panelGroup id="idLastName" pt:data-tempid="#{item.pseudonym}"
							pt:data-subject="nachname" />
						,
						<h:panelGroup id="idatFirstName"
							pt:data-tempid="#{item.pseudonym}" pt:data-subject="vorname" />
						(
						<h:panelGroup id="idatBirthDay" pt:data-tempid="#{item.pseudonym}"
							pt:data-subject="geburtstag"
							pt:data-postProcess="formatDateNumber" />
						.
						<h:panelGroup id="idatBirthMonth"
							pt:data-tempid="#{item.pseudonym}" pt:data-subject="geburtsmonat"
							pt:data-postProcess="formatDateNumber" />
						.
						<h:panelGroup id="idatBirthYear"
							pt:data-tempid="#{item.pseudonym}" pt:data-subject="geburtsjahr" />
						) - #{msg.centerID} #{item.usergroup.userGroupName}
					</h3>

					<ui:repeat id="theVisits" var="visititem"
						value="#{item.visitsWithReports}">
#{msg.sign_one} #{visititem.visitLabel} #{msg.sign_two}
<p />
#{msg.signer_text}
<br />
						<ui:repeat id="theForms" var="formitem"
							value="#{visititem.formsWithReports}">
							<p style="padding-left: 1em;">
								<h:commandLink value="#{formitem.formRealname}"
									action="#{formviewer.showform(item.patientUri,visititem.visitLabel,formitem.formID)}" />
							</p>
						</ui:repeat>
						<p></p>
					</ui:repeat>


				</div>
			</ui:repeat>

		</h:form>

		<h:outputScript library="js" name="dslib/authorization.js" />
		<h:outputScript library="js" name="dslib/tempIdResolver.js" />
		<h:outputScript library="js" name="dslib/mainzellisteResolver.js" />
		<h:outputScript library="js" name="dslib/netApiConnection.js" />
		<h:outputScript library="js" name="dslib/tempIdCache.js" />
		<h:outputScript library="js" name="dslib/webStorageTempIdCache.js" />
		<h:outputScript target="body">
            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
                mainzellisteURL:"#{sessionBean.getMainzellisteRestUrl()}"});
            $(document).ready(function() {
                  tempIdResolver.resolve();
            });
        </h:outputScript>

	</ui:composition>
</body>
</html>