<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">

    <h:panelGroup layout="block" styleClass="panel panel-default">

        <h:panelGroup layout="block" styleClass="panel-heading">
            <h4>Users</h4>
        </h:panelGroup>

        <h:form prependId="false">
            <h:panelGroup layout="block" styleClass="panel-body">
                <p:dataTable id="userlist" value="#{userBean.users}" var="o" sortBy="#{o.username}">

                    <p:column sortBy="#{o.userResource.id}" style="width:4em" headerText="ID">
                        <h:commandLink action="#{userBean.editUserAction(o)}">
                            <h:outputText value="#{o.userResource.id}"/>
                        </h:commandLink>
                    </p:column>

                    <p:column sortBy="#{o.username}" style="width:10em" headerText="User name">
                        <h:commandLink action="#{userBean.editUserAction(o)}">
                            <h:outputText value="#{o.username}"/>
                        </h:commandLink>
                    </p:column>

                    <p:column sortBy="#{o.lastname}" style="width:10em" headerText="Real name">
                        <h:commandLink action="#{userBean.editUserAction(o)}">
                            <h:outputText>#{o.title} #{o.firstname} #{o.lastname}</h:outputText>
                        </h:commandLink>
                    </p:column>

                    <!--     			<p:column sortBy="#{o.email}" style="width:10em" headerText="#{msg.useremail}"> -->
                    <!--     				<h:outputText value="#{o.email}" /> -->
                    <!--     			</p:column> -->

                    <p:column sortBy="#{o.location}" headerText="List of Roles (in Location)">
                        <h:outputText value="#{o.location}"/>
                    </p:column>

                    <p:column sortBy="#{o.failcounter}" style="width:10em" headerText="#{msg.user_loginfails}">
                        <h:outputText value="#{o.failcounter}"/>

                        <h:commandLink action="#{userBean.unlockUser(o)}" rendered="#{o.failcounter > 5 or o.isDeactivated}">
                            <span class="fa fa-unlock"/>
                        </h:commandLink>
                    </p:column>

                    <p:column sortBy="#{o.isLoggedIn}" style="width:10em" headerText="#{msg.user_currently_online}">
                        <h:outputText value="#{o.isLoggedIn?'Yes':'No'}"/>

                        <h:commandLink action="#{userBean.killUserSession(o)}"
                                       rendered="#{o.isLoggedIn and !o.isCurrentUser}">
                            <span class="fa fa-chain-broken"/>
                        </h:commandLink>
                    </p:column>

                    <p:column>
                        <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                        <h:commandLink action="#{userBean.editUserAction(o)}" title="Edit the user: #{o.username}">
                            <span class="fa fa-edit"/>
                        </h:commandLink>
                        <h:commandLink action="#{multiFactorAuthBean.deactivateMfa(o)}" title="Deactivate MFA for: #{o.username}" rendered="#{multiFactorAuthBean.isMfaActiveForUser(o)}">
                            <span class="fa fa-shield"/>
                        </h:commandLink>
                        <ui:remove>
                            &#160;&#160;
                            <p:commandLink actionListener="#{userBean.setToDeleteUser(o)}"
                                           onclick="confirmationDeletePage.show()">
                                <span class="fa fa-delete"/>
                            </p:commandLink>
                        </ui:remove>
                    </p:column>
                </p:dataTable>

                <h:commandLink style="margin-top: 10px;" styleClass="btn btn-success" ajax="false"
                               action="#{userBean.goAddUser()}">
                    <i class="fa fa-plus"/> #{msg.user_add}
                </h:commandLink>

                <p:confirmDialog id="deleteUserConfirmPage" message="#{msg.confirm_delete_user}"
                                 header="#{msg.confirm_delete_user_title}" severity="alert"
                                 widgetVar="confirmationDeletePage">
                    <p:commandButton id="killUserYes" type="submit" ajax="false" value="#{msg.confirm_switch_executor}"
                                     action="#{userBean.deleteUser}" onclick="confirmationDeletePage.hide()"/>
                    <p:commandButton id="declineUserDelete" value="#{msg.formbutton_import_no}"
                                     onclick="confirmationDeletePage.hide()" type="button"/>
                </p:confirmDialog>

            </h:panelGroup>
        </h:form>
    </h:panelGroup>
</ui:composition>