<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:outputStylesheet name="jquery.dataTables.css" library="css" />

<c:if test="#{userBean.dataObject['username'] != 'admin'}">
<h:form prependId="false" onkeypress="if (event.keyCode == 13) { document.getElementById('changeUserData').click(); return false; }">
    <h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 5px">
        <h:panelGroup layout="block" styleClass="panel-heading"><h4>User name<br /><small>Enter the name of the person and the designated username in the registry</small></h4></h:panelGroup>
        <h:panelGroup layout="block" styleClass="panel-body">

            <h:panelGroup layout="block" styleClass="row">
                <h:panelGroup layout="block" styleClass="col-md-2">
                    <h:outputLabel for="userId">ID:</h:outputLabel>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="col-md-4">
                    <h:outputText id="userId">#{userBean.dataObject.userResource.id}</h:outputText>
                </h:panelGroup>
            </h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="username">Username:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="username" name="username" value="#{userBean.dataObject['username']}" validator="LoginValidator"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="username" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="title">#{msg.usertitle}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" id="title" name="title" value="#{userBean.dataObject['title']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="title" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="firstname">#{msg.userfirstname}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="firstname" name="firstname" value="#{userBean.dataObject['firstname']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="firstname" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="lastname">#{msg.userlastname}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="lastname" name="lastname" value="#{userBean.dataObject['lastname']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="lastname" class="error" />
</h:panelGroup>
</h:panelGroup>


<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="email">#{msg.useremail}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" id="email" name="email" value="#{userBean.dataObject['email']}" validator="EmailAddresses"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="email" class="error" />
</h:panelGroup>
</h:panelGroup>




</h:panelGroup>

    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Roles of the user<br /><small>Define which roles the user shall have in the registry.
</small></h4></h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-body">


<h:panelGroup layout="block" >

    <h:dataTable styleClass="dataTable adminTable" var="line" value="#{userBean.dataObject['roles'].rows}" id="roles" emptyMessage="#{msg.datatable_isempty}"
        rowClasses="adminTableOddRow,adminTableEvenRow" rules="none"
    >  

        <h:column style="min-width:125px">  
            <f:facet name="header">#{ossemsg.roles}</f:facet>
            <h:selectOneMenu requiredMessage="#{msg.required}" required="true" styleClass="#{!component.valid ? 'error':''}" 
                value="#{line.columns['role']}" id="role" name="role">
                <f:selectItems value="#{userBean.roleList}"/>
            </h:selectOneMenu>
        </h:column>
  
        <h:column>
                <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                <h:commandLink id="samplyDatatableDeletebutton" ajax="true" action="#{userBean.deleteAction('roles', line)}">
                    <span class="fa fa-trash-o" />
                    <f:param name="disableValidation" value="true" />
                    <f:ajax execute="roles" render="roles" />
                </h:commandLink>
        </h:column>
        
           <f:facet name="footer">
               <h:outputText value="#{msg.datatable_isempty}" rendered="#{empty userBean.dataObject['roles'].rows}" />
           </f:facet>
    </h:dataTable>  
    <h:commandButton style="margin-top: 5px;margin-left: 5px;" styleClass="btn btn-success" value="#{msg.datatable_add}" action="#{userBean.addAction('roles')}">
        <f:ajax execute="roles" render="roles" />
    </h:commandButton>

</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBarChangeUserData">
<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" id="changeUserData" type="submit" action="#{userBean.save}" >
<i class="fa fa-check fa-fw" /> #{msg.link_change_userdata}
</h:commandLink>
    <h:commandLink style="margin-right: 10px;" styleClass="btn btn-info" type="submit" action="#{userBean.activateUserByAdmin()}" rendered="#{userBean.isUserDeactivated() and !userBean.isCurrentResourceSameAsCurrentUser()}">
        <i class="fa fa-check-circle-o"/> #{ossemsg['activate_user']}
    </h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" type="submit" action="#{userBean.goUserList}" rendered="#{userBean.isUserDeactivated()}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>


</h:form>
</c:if>
<p />
<h:form prependId="false">


<h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 5px" rendered="#{userBean.isUserActivated()}">
    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Password<br /><small>In case the user has forgotten his password, you can set a new one here for him.</small></h4></h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="row" rendered="#{userBean.isUserActivated()}">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password">#{msg.password}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password" name="password" value="#{userBean.formParam['password']}" validator="Password" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row" rendered="#{userBean.isUserActivated()}">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password_repeat">#{msg.password_repeat}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password_repeat" name="password_repeat" value="#{userBean.formParam['password_repeat']}" validator="Password" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password_repeat" class="error" />
</h:panelGroup>
</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBarPassword">
    <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" action="#{userBean.changePasswordByAdmin}" rendered="#{userBean.isUserActivated()}">
        <i class="fa fa-check fa-fw" /> #{msg.link_pwchange_other}
    </h:commandLink>
    <h:commandLink style="margin-right: 10px;" styleClass="btn btn-warning" type="submit" action="#{userBean.deactivateUserByAdmin()}" rendered="#{userBean.isUserActivated() and !userBean.isCurrentResourceSameAsCurrentUser()}">
        <i class="fa fa-ban"/> #{ossemsg['deactivate_user']}
    </h:commandLink>
    <h:commandLink styleClass="btn btn-danger" immediate="true" type="submit" action="#{userBean.goUserList}" rendered="#{userBean.isUserActivated()}">
        <i class="fa fa-undo fa-fw" /> #{msg.cancel}
    </h:commandLink>
</h:panelGroup>
</h:form>

</ui:composition>
</body>
</html>