<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <cc:interface>
        <cc:attribute name="iconClass" required="#{empty cc.facets.iconstack}" />
        <cc:attribute name="title" required="true" />
        <cc:attribute name="details" />
        <cc:attribute name="action" targets="go-to" required="true" />
        <cc:attribute name="cssClass" default="col-lg-4 col-md-4 col-sm-6 col-xs-12" required="false" />
        <cc:facet name="detailsfacet" />
        <cc:facet name="iconstack" shortDescription="To use stacking icons, you have to encapsulate the i elements in a span. See font awesome 4.x documentation" />
    </cc:interface>

    <cc:implementation>
        <div class="#{cc.attrs.cssClass}">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <ui:fragment rendered="#{empty cc.facets.iconstack}">
                                <i class="fa #{cc.attrs.iconClass} fa-5x" />
                            </ui:fragment>
                            <ui:fragment rendered="#{not empty cc.facets.iconstack}">
                                <cc:renderFacet name="iconstack" />
                            </ui:fragment>
                        </div>
                        <h:panelGroup layout="block" styleClass="col-lg-5 col-md-5 col-sm-5 col-xs-5" rendered="#{empty cc.facets.detailsfacet}">
                            <span style="font-size: 100%;">#{cc.attrs.details}</span>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-lg-5 col-md-5 col-sm-5 col-xs-5" rendered="#{not empty cc.facets.detailsfacet}">
                            <cc:renderFacet name="detailsfacet" />
                        </h:panelGroup>
                    </div>
                    <hr style="margin: 5px;"/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dashboard-panel-text">
                            <ui:fragment>#{cc.attrs.title}</ui:fragment>
                        </div>
                    </div>
                </div>
            </div>
            <div class="go-to-page" style="display:none;">
                <h:commandLink id="go-to" />
            </div>
        </div>
    </cc:implementation>
</ui:composition>
