<!--
  ~ Copyright (C) 2020 The Samply Community
  ~
  ~ This program is free software; you can redistribute it and/or modify it under the terms of the
  ~ GNU Affero General Public License as published by the Free Software Foundation; either version 3
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
  ~ the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this
  ~ program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it with Jersey
  ~ (https://jersey.java.net) (or a modified version of that library), containing parts covered by
  ~ the terms of the General Public License, version 2.0, the licensors of this Program grant you
  ~ additional permission to convey the resulting work.
-->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:p="http://primefaces.org/ui">

    <cc:interface>
        <cc:attribute name="logoSource" required="true" />
        <cc:attribute name="cssClass" default="col-lg-12 col-md-12 col-sm-12 col-xs-12" required="false" />
    </cc:interface>

    <cc:implementation>
        <div class="#{cc.attrs.cssClass}">
            <div class="panel panel-default logo-panel">
                <div class="panel-body">
                    <h:graphicImage class="logo-panel-image" alt="Logo" value="#{cc.attrs.logoSource}"/>
                </div>
            </div>
        </div>
    </cc:implementation>
</ui:composition>
