<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces"
                xmlns:wu="http://forms.samply.de/webutils">

    <cc:interface>
        <cc:attribute name="recordUrn" required="true" />
        <cc:attribute name="mandatory" default="false" type="boolean"/>
        <cc:attribute name="contextClass" default="panel-default" />
        <cc:attribute name="value" required="true" type="de.samply.edc.osse.model.MyMap" />
        <cc:attribute name="labelClasses" required="false" default="col-sm-4 col-md-3" />
        <cc:attribute name="inputClasses" required="false" default="col-sm-4 col-md-9" />
        <cc:facet name="customHeader" required="false" />
        <cc:facet name="footerContent" />
    </cc:interface>

    <cc:implementation>
        <div class="panel #{cc.attrs.contextClass}">

            <!-- Heading: By default just print the name of the record. Can be overridden via facet
             to include user-defined information in the record header -->
            <div class="panel-heading">
                <ui:fragment rendered="#{empty cc.facets.customHeader}">
                    <h3 class="panel-title">
                        <!--<h:outputText value="#{MdrDataElementBean.getLabelText(cc.attrs.recordUrn)}"/>-->
                        <mf:mdrRecordHeader mdrId="#{cc.attrs.recordUrn}" />
                    </h3>
                </ui:fragment>
                <ui:fragment rendered="#{not empty cc.facets.customHeader}">
                    <cc:renderFacet name="customHeader" />
                </ui:fragment>
            </div>

            <div class="panel-body">
                <ui:repeat value="#{wu:getRecordMembers(cc.attrs.recordUrn)}" var="mdrId">
                    <ui:param name="mapKey" value="#{fn:replace(cc.attrs.recordUrn, ':', '__')}/#{fn:replace(mdrId, ':', '__')}" />
                    
                    <div class="row">
                        <div class="#{cc.attrs.labelClasses}">
                            <mf:mdrLabel mdrId="#{mdrId}" />
                        </div>
                        <div class="#{cc.attrs.inputClasses}">
                            <mf:mdrInput mdrId="#{mdrId}"
                                             required="#{cc.attrs.mandatory}"
                                             styleClass="#{!component.valid ? 'error':''}"
                                             value="#{cc.attrs.value[mapKey]}"
                            />
                        </div>
                    </div>
                </ui:repeat>
            </div>

            <!-- Optional footer -->
            <ui:fragment rendered="#{not empty cc.facets.footerContent}">
                <div class="panel-footer">
                    <cc:renderFacet name="footerContent" />
                </div>
            </ui:fragment>
        </div>
    </cc:implementation>
</ui:composition>