<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces"
                xmlns:wu="http://forms.samply.de/webutils">

    <cc:interface>
        <cc:attribute name="recordUrn" required="true" />
        <cc:attribute name="mandatory" default="false" type="boolean"/>
        <cc:attribute name="hasWriteAccess" default="false" type="boolean"/>
        <cc:attribute name="isFormOpen" default="false" type="boolean"/>
        <cc:attribute name="contextClass" default="panel-default" />
        <cc:attribute name="value" required="false"/>
        <cc:attribute name="labelClasses" required="false" default="col-sm-4 col-md-3" />
        <cc:attribute name="inputClasses" required="false" default="col-sm-4 col-md-9" />
        <cc:facet name="customHeader" required="false" />
        <cc:facet name="footerContent" />
    </cc:interface>

    <cc:implementation>

        <ui:param name="recordUrnEscaped" value="#{fn:replace(cc.attrs.recordUrn, ':', '__')}" />

        <mf:repeatableRecord recordUrn="#{cc.attrs.recordUrn}"
                             contextClass="#{cc.attrs.contextClass}"
                             value="#{cc.attrs.value}"
                             labelClasses="#{cc.attrs.labelClasses}"
                             inputClasses="#{cc.attrs.inputClasses}"
                             showDeleteActionColumn="#{cc.attrs.hasWriteAccess and cc.attrs.isFormOpen}">

            <ui:fragment rendered="#{cc.attrs.hasWriteAccess and cc.attrs.isFormOpen}">
                <f:facet name="addActionButtons">
                    <h:commandButton styleClass="btn btn-default" value="#{msg.datatable_add}"
                                     action="#{formviewer.addAction(recordUrnEscaped)}">
                        <f:ajax execute="#{recordUrnEscaped}"
                                immediate="true"
                                render="#{recordUrnEscaped}_surrounder"
                                onevent="function(data) { reRenderTableSurrounder(data, '#{recordUrnEscaped}') }"/>
                        <f:param name="disableValidation" value="true"/>
                    </h:commandButton>
                    <h:commandButton value="rerender" style="display:none"
                                     styleClass="rerender_#{recordUrnEscaped}">
                        <f:ajax render="#{recordUrnEscaped}_surrounder"
                                onevent="function(data) { reInitTable(data, '#{recordUrnEscaped}') }"/>
                    </h:commandButton>
                </f:facet>
            </ui:fragment>

        </mf:repeatableRecord>























        <!--<ui:param name="recordUrnEscaped" value="#{fn:replace(cc.attrs.recordUrn, ':', '__')}" />-->
        <!--<ui:param name="recordMembers" value="#{wu:getRecordMembers(cc.attrs.recordUrn)}" />-->

        <!--<div class="panel unterabschnitt #{cc.attrs.contextClass}">-->

            <!--&lt;!&ndash; Heading: By default just print the name of the record. Can be overridden via facet-->
             <!--to include user-defined information in the record header &ndash;&gt;-->
            <!--<div class="panel-heading">-->
                <!--<ui:fragment rendered="#{empty cc.facets.customHeader}">-->
                    <!--<h3 class="panel-title">-->
                        <!--&lt;!&ndash;<h:outputText value="#{MdrDataElementBean.getLabelText(cc.attrs.recordUrn)}"/>&ndash;&gt;-->
                        <!--<mf:mdrRecordHeader mdrId="#{cc.attrs.recordUrn}" />-->
                    <!--</h3>-->
                <!--</ui:fragment>-->
                <!--<ui:fragment rendered="#{not empty cc.facets.customHeader}">-->
                    <!--<cc:renderFacet name="customHeader" />-->
                <!--</ui:fragment>-->
            <!--</div>-->

            <!--<div class="panel-body">-->
                <!--<h:panelGroup layout="block" id="#{recordUrnEscaped}_surrounder">-->

                    <!--<h:dataTable var="row"-->
                                 <!--value="#{cc.attrs.value.rows}"-->
                                 <!--id="#{recordUrnEscaped}"-->
                                 <!--styleClass="#{recordUrnEscaped} recordTable#{empty value.rows?' empty':''}">-->

                        <!--&lt;!&ndash;why c:forEach? => https://stackoverflow.com/questions/25724111/how-to-use-uirepeat-in-datatable-to-append-columns&ndash;&gt;-->
                        <!--<c:forEach items="#{recordMembers}" var="mdrUrn">-->
                            <!--<h:column>-->
                                <!--<f:facet name="header">-->
                                    <!--<mf:mdrLabel mdrId="#{mdrUrn}" />-->
                                    <!--<h:panelGroup styleClass="mdrDataType" style="display:none">TEXT</h:panelGroup>-->
                                <!--</f:facet>-->
                                <!--<mf:mdrInput required="false"-->
                                             <!--styleClass="#{!component.valid ? 'error':''}"-->
                                             <!--mdrId="#{mdrUrn}"-->
                                             <!--value="#{row.columns[fn:replace(mdrUrn, ':', '__')]}" />-->
                            <!--</h:column>-->
                        <!--</c:forEach>-->

                        <!--<h:column>-->
                            <!--<f:facet name="header">#{msg.datatable_actionheader}</f:facet>-->
                            <!--<ui:fragment rendered="#{cc.attrs.hasWriteAccess and cc.attrs.isFormOpen}">-->
                                <!--<h:commandLink action="#{formviewer.deleteAction(recordUrnEscaped, row)}">-->
                                    <!--<f:ajax execute="#{recordUrnEscaped}"-->
                                            <!--onevent="function(data) { reRenderTableSurrounder(data, '#{recordUrnEscaped}') }"/>-->
                                    <!--<f:param name="disableValidation" value="true"/>-->
                                    <!--<span class="fa fa-trash-o"/>-->
                                <!--</h:commandLink>-->
                            <!--</ui:fragment>-->
                        <!--</h:column>-->
                        <!--<f:facet name="footer">-->
                            <!--<h:outputText value="#{msg.datatable_isempty}" styleClass="someStyleClass"-->
                                          <!--rendered="#{empty cc.attrs.value.rows}"/>-->
                        <!--</f:facet>-->
                    <!--</h:dataTable>-->

                    <!--&lt;!&ndash; The button to add a new row &ndash;&gt;-->
                    <!--<ui:fragment rendered="#{cc.attrs.hasWriteAccess and cc.attrs.isFormOpen}">-->
                        <!--<h:commandButton styleClass="btn btn-default" value="#{msg.datatable_add}"-->
                                         <!--action="#{formviewer.addAction(recordUrnEscaped)}">-->
                            <!--<f:ajax execute="#{recordUrnEscaped}"-->
                                    <!--immediate="true"-->
                                    <!--render="#{recordUrnEscaped}_surrounder"-->
                                    <!--onevent="function(data) { reRenderTableSurrounder(data, '#{recordUrnEscaped}') }"/>-->
                            <!--<f:param name="disableValidation" value="true"/>-->
                        <!--</h:commandButton>-->
                        <!--<h:commandButton value="rerender" style="display:none"-->
                                         <!--styleClass="rerender_#{recordUrnEscaped}">-->
                            <!--<f:ajax render="#{recordUrnEscaped}_surrounder"-->
                                    <!--onevent="function(data) { reInitTable(data, '#{recordUrnEscaped}') }"/>-->
                        <!--</h:commandButton>-->
                    <!--</ui:fragment>-->

                <!--</h:panelGroup>-->
            <!--</div>-->

            <!--&lt;!&ndash; Optional footer &ndash;&gt;-->
            <!--<ui:fragment rendered="#{not empty cc.facets.footerContent}">-->
                <!--<div class="panel-footer">-->
                    <!--<cc:renderFacet name="footerContent" />-->
                <!--</div>-->
            <!--</ui:fragment>-->
        <!--</div>-->
    </cc:implementation>
</ui:composition>