<!--
  ~ Copyright (C) 2017 The Samply Community
  ~
  ~ This program is free software; you can redistribute it and/or modify it under the terms of the
  ~ GNU Affero General Public License as published by the Free Software Foundation; either version 3
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See
  ~ the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this
  ~ program; if not, see <http://www.gnu.org/licenses>.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it with Jersey
  ~ (https://jersey.java.net) (or a modified version of that library), containing parts covered by
  ~ the terms of the General Public License, version 2.0, the licensors of this Program grant you
  ~ additional permission to convey the resulting work.
-->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:comp="http://xmlns.jcp.org/jsf/composite/components">

    <cc:interface>
        <cc:attribute name="title" required="true"/>
        <cc:attribute name="details"/>
        <cc:attribute name="cssClass" default="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                      required="false"/>
        <cc:attribute name="logoPath" default="images/osse/registry_logo.png"/>
        <cc:attribute name="imageName" default="registry_logo.png"/>
    </cc:interface>

    <cc:implementation>
        <div class="#{cc.attrs.cssClass}">
            <div class="panel panel-default welcome-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="row">
                                <comp:databaseLogoPanel
                                        logoSource="#{designBean.getImageString('design.dashboard_image')}"
                                        rendered="#{designBean.isLogoSet('design.dashboard_image')}"/>
                                <comp:logoPanel
                                        logoSource="images/osse/osse_logo_blue.svg"
                                        rendered="#{!designBean.isLogoSet('design.dashboard_image')}"/>
                            </div>
                        </div>
                        <h:panelGroup layout="block"
                                      styleClass="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <h1 class="welcome-panel-title">#{cc.attrs.title}</h1>
                            <p>#{cc.attrs.details}</p>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </div>
    </cc:implementation>
</ui:composition>
