<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{locale}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:co="http://xmlns.jcp.org/jsf/composite/components">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>

    <title>
        <ui:insert name="title">
            <h:outputText value="??? MISSING PAGE TITLE ???" />
        </ui:insert>
    </title>

    <h:outputStylesheet name="webjars/flag-icon-css/3.4.6/css/flag-icon.min.css"/>
    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--<h:outputStylesheet name="webjars/lato/0.3.0/css/lato.min.css" />-->
    <h:outputStylesheet name="css/fonts.css" />
    <h:outputStylesheet name="css/osse.css"/>
    <h:outputStylesheet name="css/bootstrap.css"/>
    <h:outputStylesheet name="css/bootstrap-theme.css"/>
    <h:outputStylesheet name="css/mixins_and_variables.css"/>
    <h:outputStylesheet name="css/nav.css"/>
    <h:outputStylesheet name="css/pages.css"/>
    <h:outputStylesheet name="css/media_queries.css" />
    <h:outputStylesheet name="css/buttons.css" />
    <h:outputStylesheet name="css/theme.bootstrap.css" />

    <ui:insert name="additional-css" />

    <h:outputScript library="webjars" name="jquery/1.12.4/jquery.min.js"/>
    <h:outputScript name="js/bootstrap.min.js"/>
    <h:outputScript name="js/scripts.js"/>
    <h:outputScript name="js/samply.js"/>

    <ui:insert name="additional-js" />

    <ui:insert name="optional-import-constants" />

    <!-- custom modifications -->
    <h:outputScript library="js" name="osse/custom.js" />
</h:head>

<h:body styleClass="#{bodyClass}">
    <f:view contentType="text/html" locale="#{sessionBean.locale}">

        <ui:insert name="optional-growl" />

        <nav id="nav">
            <div class="container">
                <ui:include src="/components/navbar_left.xhtml"/>

                <ui:include src="/components/navbar_right.xhtml"/>
            </div>
        </nav>

        <div id="#{mainDivId}" style="#{mainDivStyles}">
            <div class="container">
                <ui:insert name="main-content" />
            </div>
        </div>

    </f:view>
    <co:sessionTimeoutModal/>
    <!-- custom modifications, outside of h:head and at the very end of file to ensure loading after everything else -->
    <h:outputStylesheet name="custom.css" library="css" target="head" />
</h:body>

</html>
