<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <h:outputScript target="head">
        function printDiv(divId) {
            window.frames["print_frame"].document.body.innerHTML=document.getElementById(divId).innerHTML;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
        }
    </h:outputScript>
    <!-- invisible frame, filled for printing -->
    <iframe name="print_frame" width="0" height="0" frameborder="0" 
            src="about:blank"
            title="Patient information about OSSE account"></iframe>
    
    <h:panelGroup layout="block" styleClasse="panel">
        <h:panelGroup layout="block" styleClasse="row">
            <h:panelGroup layout="block" styleClasse="col-md-6 col-md-offset-3 panel-heading">
                #{ossemsg['Please']}
                <h:commandLink styleClass="button" onclick="{printDiv('patientInstructions'); return false;}">
                    #{ossemsg['print_this_page']}
                </h:commandLink>
                #{ossemsg['hand_it_to_the_patient']}
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block" styleClasse="row">
            <h:panelGroup layout="block" styleClasse="col-md-6 col-md-offset-3 panel-body">
                <h:panelGroup layout="block" id="patientInstructions" styleClass="printablePage">
                    <h:panelGroup layout="block" style="text-align: right;">
                        <p>
                            <h:outputText value="#{now}">
                                <f:convertDateTime />
                            </h:outputText>
                        </p>
                    </h:panelGroup>
                    <p>
                        #{ossemsg['Dear']}
                        <ui:fragment rendered="#{sessionBean.showIdatOfCurrentPatient()}">
                            <h:panelGroup id="prenamePatientletter" pt:data-tempid="#{sessionBean.currentPatient.pseudonym}" pt:data-subject="vorname" />&#160;<h:panelGroup id="lastnamePatientletter" pt:data-tempid="#{sessionBean.currentPatient.pseudonym}" pt:data-subject="nachname" />
                        </ui:fragment>,
                    </p>
                    <p>#{ossemsg['you_are_registed']}</p>
                    <p>#{ossemsg['data_for_login']}</p>
                    
                    <h:panelGrid columns="2" cellspacing="10px">
                        <h:outputText value="#{ossemsg['pro_username']}:" />
                        <h:outputText value="#{sessionBean.currentPatient.asUser.username}"
                                      style="font-weight: bold" />
                        <h:outputText value="#{ossemsg['pro_password']}:" />
                        <h:outputText value="#{userBean.resetPatientPassword()}"
                                      style="font-weight: bold" />
                    </h:panelGrid>

                    <p></p>
                    
                    <p>
                        #{ossemsg['you_can_login_on']}
                        <h:link outcome="login.xhtml">
                            #{applicationBean.urlToWebService}
                        </h:link>
                        #{ossemsg['fill_in_medical_forms']}
                    </p>

                    <p>#{ossemsg['Best_wishes']}</p>
                    <p>#{ossemsg['Your_register_team']}</p>
                    <h:graphicImage width="80" 
                                    alt="OSSE-Logo" 
                                    library="images" 
                                    name="osse/logo.png" />
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </h:panelGroup>

</ui:composition>