<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
>
<body>
<ui:composition>

    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head"/>
    <h:outputScript library="js" name="jquery.ui.period.datepicker.osse.js" target="head"/>
<c:if test="#{sessionBean.language == 'de'}"><h:outputScript library="js" name="datepicker-de.js" target="head" /></c:if>


    <h:panelGroup layout="block" id="topFormPanel" styleClass="panel panel-default">
        <h:panelGroup layout="block" styleClass="panel-body form-visit-edit">

            <ui:fragment
                    rendered="#{episodeBean.dataObject['showLabelWasConvertedWarning'] == 'true'}">
                <p class="bg-info">
<h:outputText>#{ossemsg.attention}<br/>#{ossemsg.episode_label_converted}<br/>
#{ossemsg.original_label_was} #{episodeBean.dataObject['oldName']}<br/>
#{ossemsg.episode_not_yet_saved}</h:outputText>
                </p>
            </ui:fragment>

            <h:panelGroup styleClass="row">
                <c:if test="#{applicationBean.isEpisodeDatePattern()}">
                    <h:panelGroup styleClass="col-lg-2">
                        <p:outputLabel styleClass="better" for="inputDate" value="#{episodeBean.dataObject['episodeResource'] == null ?
    msg.date_of_new_episode : msg.date_of_episode}"/>
                    </h:panelGroup>
                    <h:panelGroup styleClass="col-lg-4">
                        <h:panelGroup layout="block"
                                      rendered="#{applicationBean.isEpisodeDatePattern()}">
                            <h:inputText validator="EpisodeValidator" size="10" showOn="button"
                                         requiredMessage="#{msg.required}" required="true"
                                         id="inputDate" value="#{episodeBean.dataObject['name']}">
                            </h:inputText>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:outputScript target="body">
                        $('#inputDate').datepicker({
                        dateFormat: "#{applicationBean.getEpisodePatternJQuery()}",
                        changeMonth: true,
                        changeYear: true,
                        showButtonPanel: true
                        });
                    </h:outputScript>
                </c:if>

                <c:if test="#{!applicationBean.isEpisodeDatePattern()}">
                    <h:panelGroup styleClass="col-lg-2">
                        <p:outputLabel styleClass="better" for="inputDate"
                                       value="#{msg.quarter_of_episode}" rendered="#{applicationBean.getEpisodePatternName() == 'QUARTERS'}"/>
                        <p:outputLabel styleClass="better" for="inputDate"
                                       value="#{ossemsg.visit_edit_enumerate}" rendered="#{applicationBean.getEpisodePatternName() == 'INDEX'}"/>
                    </h:panelGroup>
                    <h:panelGroup styleClass="col-lg-4">
                        <h:panelGroup layout="block"
                                      rendered="#{!applicationBean.isEpisodeDatePattern()}">
                            <h:inputText validator="EpisodeValidator" size="10"
                                         requiredMessage="#{msg.required}" required="true"
                                         id="inputDate" value="#{episodeBean.dataObject['name']}">
                            </h:inputText>
                        </h:panelGroup>
                    </h:panelGroup>
                    <h:outputScript target="body"
                                    rendered="#{applicationBean.getEpisodePatternName() == 'QUARTERS'}">
                        $('#inputDate').datepicker(
                                {quarterpicker: true, changeYear: true, showButtonPanel: true});
                    </h:outputScript>
                    <h:outputScript target="body"
                                    rendered="#{applicationBean.getEpisodePatternName() == 'ROMANQUARTERS'}">
                        $('#inputDate').datepicker({
                            quarterpicker: true,
                            romanquarter: true,
                            changeYear: true,
                            showButtonPanel: true
                        });
                    </h:outputScript>
                    <h:outputScript library="js" name="jquery-ui.js" target="head" rendered="#{applicationBean.getEpisodePatternName() == 'INDEX'}"/>
                    <h:outputScript target="body"
                                    rendered="#{applicationBean.getEpisodePatternName() == 'INDEX'}">
                        $('#inputDate').spinner({min: 0});
                    </h:outputScript>

                </c:if>
                <h:panelGroup styleClass="col-lg-6">
                    <h:message for="inputDate"/>
                </h:panelGroup>
            </h:panelGroup>
            <h:panelGroup styleClass="row">
                <h:panelGroup styleClass="col-lg-2">
                    <p:outputLabel styleClass="better" for="optionalText"
                                   value="#{msg.optional_text}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="col-lg-4">
                    <h:inputText id="optionalText"
                                 value="#{episodeBean.dataObject['optionalText']}"/>
                </h:panelGroup>
                <h:panelGroup styleClass="col-lg-6">
                </h:panelGroup>
            </h:panelGroup>

            <h:panelGroup styleClass="row"
                          rendered="#{not empty sessionBean.currentCase.episodes and episodeBean.dataObject['episodeResource'] == null}">
                <h:panelGroup styleClass="col-lg-12">
                    <h:selectBooleanCheckbox id="takePrevEpisodeData"
                                             value="#{episodeBean.takePrevEpisodeData}"/>
                    <p:outputLabel styleClass="better" for="takePrevEpisodeData"
                                   value="#{ossemsg.take_prev_episode_data}"/>
                </h:panelGroup>
            </h:panelGroup>

        </h:panelGroup>
    </h:panelGroup>

    <p:commandButton styleClass="btn btn-success" ajax="false" type="submit"
                     value="#{msg.savebutton}" action="#{episodeBean.save}"/>
    <p:commandButton styleClass="btn btn-danger" ajax="false" immediate="true" type="submit"
                     value="#{msg.cancel}" action="#{sessionBean.goMainPatientPage()}"/>


    <h:outputStylesheet name="css/bootstrap-clockpicker.min.css" target="head"/>
    <h:outputStylesheet name="css/bootstrap-datetimepicker.min.css" target="head"/>

</ui:composition>
</body>
</html>
