<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">


    <p:remoteCommand name="validationFailed" update="@all" />

    <!--
    Handling of the validation e.g. remove the flag that something has changed if
    the validation was successful. If not update page to show validation message.
    -->
    <script type="text/javascript">
      function handleComplete(xhr, status, args) {
        if(!args.validationFailed) {
          sessionStorage.setItem('somethingChangedInForm','no');
          // Also reset temporary storage of hidden values after saving
          tempFormValues = [];
        } else {
          validationFailed();
        }
      }
    </script>

    <p:commandLink styleClass="btn btn-success" style="margin-right: 20px;" id="save" action="#{formviewer.save}"
                   rendered="#{formviewer.formState == 'open' and !formviewer.upgradeInProgress}" oncomplete="handleComplete(xhr, status, args)" ajax="true" update="@all">
        <i class="fa fa-check fa-fw"/> #{msg.formbutton_save}
    </p:commandLink>

    <p:commandLink styleClass="btn btn-success" style="margin-right: 20px;" id="save_upgrade" action="#{formviewer.saveUpgradedForm}"
                   rendered="#{formviewer.formState == 'open' and formviewer.upgradeInProgress}" oncomplete="handleComplete(xhr, status, args)" ajax="true" update="@all">
        <i class="fa fa-check fa-fw"/> #{ossemsg.save_upgrade_button}
    </p:commandLink>


    <h:commandLink styleClass="btn btn-danger" value="" id="cancel" immediate="true"
                   rendered="#{formviewer.formState == 'open'}"
                   update="message"
                   action="#{sessionBean.cancelPage()}">
        <i class="fa fa-undo fa-fw"/> #{msg.cancel}

        <f:param name="disableValidation" value="true"/>
    </h:commandLink>

    <h:commandLink styleClass="btn btn-warning" style="margin-left: 20px;" id="upgrade" action="#{formviewer.upgradeForm}"
                   rendered="#{formviewer.formState == 'open' and !formviewer.formLatestVersion}">
        <i class="fa fa-arrow-up fa-fw"/> #{ossemsg.upgrade_button}

        <f:param name="disableValidation" value="true"/>
    </h:commandLink>

</ui:composition>