<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">


    <p:dialog header="Change Status" widgetVar="changeFormStatusDialog" appendTo="@(body)" closeOnEscape="true"
              modal="true">
        <h:form>
            <h:panelGroup layout="block" id="topFormPanel" styleClass="panel panel-default">
                <h:panelGroup layout="block" styleClass="panel-body">

                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-12">
                            #{ossemsg.formstatus_currentStatus}: #{formviewer.form.formState} <br/>
                            #{ossemsg.formstatus_statusChangeInfo} #{msg.cancel}.
                        </h:panelGroup>
                    </h:panelGroup>
                    <br/>
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:outputLabel for="newStatus">#{ossemsg.formstatus_newStatus}:</h:outputLabel>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-8">
                            <h:selectOneMenu value="#{formviewer.newStatus}" id="newStatus" name="newStatus">
                                <f:selectItems value="#{formviewer.possibleNewStatus}"/>
                            </h:selectOneMenu>
                        </h:panelGroup>
                    </h:panelGroup>
                    <br/>
                    <h:panelGroup layout="block" styleClass="row">
                        Optional comment:
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="row">
                        <h:inputTextarea rows="5" cols="80"
                                         value="#{formviewer.entries['statusChangeComment']}"></h:inputTextarea>
                    </h:panelGroup>
                    <p:commandButton style="margin-right: 10px" styleClass="btn btn-success" ajax="false" type="submit"
                                     value="#{ossemsg.formstatus_changeStatus}" action="#{formviewer.changeToNewStatus()}"/>
                    <p:commandButton styleClass="btn btn-danger" value="#{msg.cancel}"
                                     onclick="PF('changeFormStatusDialog').close()"/>

                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </p:dialog>

</ui:composition>