<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:panelGroup title="#{msg.formstate_signed}" id="formstate_signed_symbol" style="padding-left: 10px" styleClass="fa fa-lock hasTooltip" rendered="#{formviewer.formState=='validated'}" />

<h:panelGroup title="#{msg.formstate_reported}" id="formstate_reported_symbol" style="padding-left: 10px" styleClass="fa fa-envelope hasTooltip" rendered="#{formviewer.formState=='reported'}" />
</ui:composition>

</body>
</html>