<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces" xmlns:f="http://java.sun.com/jsf/core">

    <h:panelGroup id="upgradePossible" layout="block" styleClass="panel panel-warning"
                  rendered="#{sessionBean.mayWriteCurrentForm() and formviewer.formState == 'open' and !formviewer.formLatestVersion}">
        <div class="panel-heading">
            <h4>#{ossemsg.formupgrade_available_title}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <h:outputText value="#{ossemsg.formupgrade_available}" />
                </div>
            </div>
        </div>
    </h:panelGroup>
    <h:panelGroup id="mappingSuccessful" layout="block" styleClass="panel panel-success"
                  rendered="#{formviewer.upgradeRequested and formviewer.notMappedEntries.size() == 0}">
        <div class="panel-heading">
            <h4>#{ossemsg.formupgrade_success_title}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <h:outputText value="#{ossemsg.formupgrade_all_mappped}" />
                </div>
            </div>
        </div>
    </h:panelGroup>
    <h:panelGroup id="nonMappedElements" layout="block" styleClass="panel panel-danger"
                  rendered="#{formviewer.upgradeRequested and formviewer.notMappedEntries.size() > 0}">
        <div class="panel-heading">
            <h4>#{ossemsg.formupgrade_unmapped_elements}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <h:outputText value="#{ossemsg.formupgrade_some_unmapped}"/>
                </div>
            </div>
            <c:forEach var="notMappedKey" items="#{formviewer.getNotMappedEntries().keySet()}">
                <c:choose>
                    <c:when test="#{formviewer.notMappedEntries[notMappedKey].getClass().simpleName eq 'DatatableRows'}">
                        <div class="abschnitt ui-corner-all">
                            <mf:mdrRecordHeader mdrId="#{fn:replace(notMappedKey, '__', ':')}" />
                            <div class="unterabschnitt ui-corner-all" style="margin-top:15px;">
                                <h:dataTable var="line" value="#{formviewer.notMappedEntries[notMappedKey].rows}"
                                             styleClass="recordTable"
                                             rendered="#{formviewer.notMappedEntries[notMappedKey].rows.size() > 0}">
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value=""/>
                                        </f:facet>
                                        <h:outputText value="#{formviewer.entries[notMappedKey].rows.indexOf(line) + 1}"/>
                                    </h:column>
                                    <c:forEach var="columnName"
                                               items="#{formviewer.notMappedEntries[notMappedKey].rows.get(0).columns.keySet()}">
                                        <h:column>
                                            <f:facet name="header">
                                                <mf:mdrLabel mdrId="#{fn:replace(columnName, '__', ':')}"></mf:mdrLabel>
                                            </f:facet>
                                            <mf:mdrInput mdrId="#{fn:replace(columnName, '__', ':')}"
                                                         value="#{line.columns[columnName]}" useSortOrder="true"/>
                                        </h:column>
                                    </c:forEach>
                                </h:dataTable>
                            </div>
                        </div>
                        <!-- Alternative solution for repeatable items: Show data elements line by line -->
<!--                        <c:forEach var="repeatableInstance" items="#{formviewer.notMappedEntries[notMappedKey].rows}">-->
<!--                            <div class="abschnitt">-->
<!--                                <h5><mf:mdrLabel mdrId="#{fn:replace(notMappedKey, '__', ':')}"></mf:mdrLabel></h5>-->
<!--                                <c:forEach var="column" items="#{repeatableInstance.columns.entrySet()}">-->
<!--                                    <h:panelGroup layout="block" styleClass="row"-->
<!--                                                  rendered="#{notMappedKey.startsWith('urn')}">-->
<!--                                        <h:panelGroup layout="block" styleClass="col-xs-3">-->
<!--                                            <mf:mdrLabel mdrId="#{fn:replace(column.key, '__', ':')}"></mf:mdrLabel>-->
<!--                                        </h:panelGroup>-->
<!--                                        <h:panelGroup layout="block" styleClass="col-xs-9">-->
<!--                                            <mf:mdrInput required="false" styleClass="mdrfaces-input"-->
<!--                                                         mdrId="#{fn:replace(column.key, '__', ':')}"-->
<!--                                                         value="#{column.value}"/>-->
<!--                                        </h:panelGroup>-->
<!--                                    </h:panelGroup>-->
<!--                                </c:forEach>-->
<!--                            </div>-->
<!--                        </c:forEach>-->
                    </c:when>
                    <c:otherwise>
                        <h:panelGroup layout="block" styleClass="row" rendered="#{notMappedKey.startsWith('urn')}">
                            <h:panelGroup layout="block" styleClass="col-xs-3">
                                <mf:mdrLabel mdrId="#{fn:replace(notMappedKey, '__', ':')}"></mf:mdrLabel>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="col-xs-9">
                                <mf:mdrInput required="false" styleClass="mdrfaces-input"
                                             mdrId="#{fn:replace(notMappedKey, '__', ':')}"
                                             value="#{formviewer.notMappedEntries[notMappedKey]}"/>
                            </h:panelGroup>
                        </h:panelGroup>
                    </c:otherwise>
                </c:choose>
            </c:forEach>
        </div>
        <div class="panel-footer" style="background-color: #f2dede;">&#160;</div>
    </h:panelGroup>
    <h:outputScript>
        $(function () {
            $('#nonMappedElements').find(':input').prop('disabled', true);
        })
    </h:outputScript>
</ui:composition>