<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:form prependId="false">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.xhtml?form="> OSSE<span
                    class="titleOrange">.forms</span>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li
                        class="#{view.viewId == '/index.xhtml' and sessionBean.currentFormName == 'patientlist' ? 'active' : ''}"><a
                        href="index.xhtml?form=">Startpage</a></li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle"
                        data-toggle="dropdown">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li
                                class="#{view.viewId == '/index.xhtml?form=locationlist' ? 'active' : ''}"><a
                                href="index.xhtml?form=locationlist">#{msg.link_grouplist}</a></li>
                            <li
                                class="#{view.viewId == '/index.xhtml?form=userlist' ? 'active' : ''}"><a
                                href="index.xhtml?form=userlist">#{msg.link_userlist}</a></li>
                            <!-- 							<li	class="#{view.viewId == '/index.xhtml?form=deleteduserlist' ? 'active' : ''}"><a -->
                            <!-- 								href="index.xhtml?form=deleteduserlist">#{msg.link_undeleteuserlist}</a></li> -->
                            <li
                                class="#{view.viewId == '/index.xhtml?form=rolelist' ? 'active' : ''}"><a
                                href="index.xhtml?form=rolelist">Roles</a></li>
                            <li
                                class="#{view.viewId == '/index.xhtml?form=register_forms_sorter' ? 'active' : ''}"><a
                                href="index.xhtml?form=register_forms_sorter">Register Forms
                                    Config</a></li>

                        </ul></li>

                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li id="userButton" class="dropdown user-dropdown"><a href="#"
                        class="dropdown-toggle userLoginDropdown" data-toggle="dropdown">
                            #{sessionBean.currentUser.username} <b class="caret"></b>
                    </a>
                        <ul id="userPanel" class="dropdown-menu">
                            <li><a href="index.xhtml?form=pwchange"><i
                                    class="fa fa-user"></i> #{msg.link_pwchange}</a></li>
                            <li><a href="index.xhtml?form=user_contact"><i
                                    class="fa fa-list"></i> #{bmb_msg.contact_details}</a></li>
                            <li class="divider"></li>
                            <li class="logoutElement"><h:commandLink action="#{sessionBean.logout()}"
                                    value="#{msg.logout}" styleClass="fa fa-sign-out" /></li>
                        </ul></li>
                </ul>
                <!-- Dialoges must be put here or for some reason they are below their own layer? -->
                <ui:include src="/components/contextmenu_dialogues.xhtml" />


            </div>

            <c:choose>
                <c:when test="#{applicationBean.samplyProject == 'transarnet'}">
                    <ui:include src="/components/navigationBreadcrumbsTransarnet.xhtml" />
                </c:when>
                <c:otherwise>
                    <ui:include src="/components/navigationBreadcrumbs.xhtml" />
                </c:otherwise>
            </c:choose>

        </nav>
    </h:form>

</ui:composition>