<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form>
        <div class="float-left">
            <div class="col" id="logo">
                <!--<h:graphicImage width="60" height="23" alt="OSSE" name="images/osse/#{fn:toLowerCase(request.servletContext.servletContextName)}_logo_white.svg"/>-->
                <h:graphicImage width="60" height="23" alt="OSSE" name="images/osse/osse_logo_white.svg"/>
                <h:panelGroup styleClass="osseLogoSideText"
                              rendered="#{applicationBean.isBridgehead()}">Bridgehead</h:panelGroup>
            </div>
            <ui:fragment
                    rendered="#{sessionBean.currentRole.isAdminRole() or sessionBean.currentRole.isLocalAdminRole()}">
                <h:commandLink styleClass="col"
                               action="#{sessionBean.goStartPage()}" id="list_administration">Administration
                </h:commandLink>
            </ui:fragment>
            <ui:fragment
                    rendered="#{!(sessionBean.currentRole.isAdminRole() or sessionBean.currentRole.isLocalAdminRole() or sessionBean.currentRole.isPatientRole()) and sessionBean.useDashboard}">
                <h:commandLink styleClass="col"
                               action="#{sessionBean.goStartPage()}" id="start_page">#{ossemsg.dashboard_title}
                </h:commandLink>
            </ui:fragment>
            <ui:fragment
                    rendered="#{!(sessionBean.currentRole.isAdminRole() or sessionBean.currentRole.isLocalAdminRole() or sessionBean.currentRole.isPatientRole())}">
                <h:commandLink styleClass="col"
                               action="patientlist?faces-redirect=true" id="patient_list">#{ossemsg.list_of_patients}
                </h:commandLink>
            </ui:fragment>
        </div>
    </h:form>

</ui:composition>
