<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<!-- this is silly to force the forms to have this param set to show this menu
    the decision is this menu is shown must depend only on some mojo that a context menu entries are actually present
    which should be provided by the view-bean
    so well...
    TODO: do this
 -->
<ui:fragment rendered="#{!formviewer.formParam['hideRightFlag']}">

<!-- Evtl unterschiedliche buttongrößen beim hovern? -->
<ul class="rightFlag">
    <ui:fragment rendered="#{!sessionBean.isEditmode}">
        <li>
            <button class="btn btn-default btn-sm" data-toggle="dropdown" style="float: right;" >
                <span class="fa fa-cogs rightFlagIcon pull-left"></span>
                <span class="slideText">Context</span>
                
            </button>
            <ul class="dropdown-menu pull-right" role="menu">


<!-- VISIT -->
        <ui:fragment rendered="#{sessionBean.hasCurrentPatient()}">
        <li>Visit</li>
        <li><p:commandLink actionListener="#{sessionBean.goNewVisitByButton()}" ><i class="fa fa-plus"></i> #{msg.link_newvisit}</p:commandLink></li>
        <ui:fragment rendered="#{sessionBean.hasCurrentVisit() and sessionBean.currentUser.isGlobalAdmin()}">
            <li><p:commandLink actionListener="#{sessionBean.goEditVisit()}" ><i class="fa fa-edit"></i> #{msg.edit_visit_link}</p:commandLink></li>
            <li><p:commandLink onclick="confirmationDeleteVisit.show()" ><i class="fa fa-eraser"></i> #{msg.delete_visit_link}</p:commandLink></li>
            <ui:fragment rendered="#{formviewer.visitIsReported}">
                <li><p:commandLink onclick="confirmationSignAllHead.show()" ><i class="fa fa-lock"></i> #{msg.link_signvisit}</p:commandLink></li>
            </ui:fragment>
        </ui:fragment>
        <ui:fragment rendered="#{sessionBean.hasCurrentVisit() and !(formviewer.visitIsReported or formviewer.visitIsValidated)}">
            <li><p:commandLink onclick="confirmationReportAllHead.show()"  ><i class="fa fa-flag"></i> #{msg.link_reportvisit}</p:commandLink></li>
        </ui:fragment>
        <li class="divider"></li>
        </ui:fragment>


<!-- FORM -->
        <li>Form</li>
        <ui:fragment rendered="#{!sessionBean.isCurrentFormUnique() and formviewer.formState=='open'}">
        <li><p:commandLink onclick="confirmationImport.show()" ><i class="fa fa-upload"></i> #{msg.formbutton_import}</p:commandLink></li>
        </ui:fragment>
        <ui:fragment rendered="#{formviewer.formState=='open'}">
        <li><p:commandLink onclick="confirmationReport.show()" ><i class="fa fa-flag"></i> #{msg.formbutton_report}</p:commandLink></li>
        </ui:fragment>
        <ui:fragment rendered="#{formviewer.formState=='reported'}">
        <ui:fragment rendered="#{!sessionBean.currentUser.globalAdmin}">
        <li><p:commandLink onclick="confirmationReportTakeback.show()" ><i class="fa fa-flag-o"></i> #{msg.formbutton_report_takeback}</p:commandLink></li>
        </ui:fragment>
        <ui:fragment rendered="#{sessionBean.currentUser.globalAdmin}">
        <li><p:commandLink onclick="confirmationSign.show()" ><i class="fa fa-lock"></i> #{msg.formbutton_signieren}</p:commandLink></li>
        <li><p:commandLink onclick="confirmationRefuse.show()" ><i class="fa fa-flash"></i> #{msg.formbutton_refuse}</p:commandLink></li>
        </ui:fragment>
        </ui:fragment>
        <ui:fragment rendered="#{formviewer.formState=='validated'}">
        <li><p:commandLink onclick="confirmationBreakSign.show()" ><i class="fa fa-unlock"></i> #{msg.formbutton_sign_takeback}</p:commandLink></li>
        </ui:fragment>
    </ul>
        </li>
    </ui:fragment>
</ul>

</ui:fragment>

</ui:composition>
</body>
</html>
