<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:co="http://xmlns.jcp.org/jsf/composite/components">

<f:metadata>
    <f:viewParam name="form" value="#{sessionBean.form}"/>
    <c:if test="#{sessionBean.showQueryResult() or (!sessionBean.currentRole.isAdminRole() and !sessionBean.currentRole.isLocalAdminRole())}">
        <f:viewAction action="#{sessionBean.goStartPage()}" onPostback="false"></f:viewAction>
    </c:if>
</f:metadata>

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1, maximum-scale=1"/>

    <title>OSSE - #{sessionBean.formtitle}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <h:outputStylesheet name="webjars/flag-icon-css/3.4.6/css/flag-icon.min.css"/>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="css/font-awesome.css" library="font-awesome"/>
    <h:outputStylesheet name="buttons.css" library="css"/>
    <h:outputStylesheet name="fonts.css" library="css"/>

    <h:outputScript library="primefaces" name="jquery/jquery.js" target="head"/>
    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head"/>
    <h:outputScript library="js" name="bootstrap.min.js" target="head"/>
    <h:outputScript library="js" name="samply.js"/>

</h:head>

<h:body styleClass="index">
    <f:view contentType="text/html" locale="#{sessionBean.locale}">
        <p:growl id="growl" showDetail="true" sticky="false" globalOnly="true" autoUpdate="true"/>
        <nav id="nav">
            <h:panelGroup layout="block" styleClass="container">
                <ui:include src="/components/navbar_left.xhtml"/>
                <ui:include src="/components/navbar_right.xhtml"/>
            </h:panelGroup>
        </nav>

        <h:panelGroup layout="block" id="patient">
            <h:panelGroup layout="block" styleClass="container">
                <h:form>
                    <h:commandLink class="btn btn-xs" action="#{sessionBean.goStartPage()}">
                        <h2>Configuration</h2>
                    </h:commandLink>
                </h:form>
                <h:panelGroup layout="block" styleClass="birth float-left first"></h:panelGroup>
                <h:panelGroup layout="block" styleClass="actions">
                    <!-- 					<a href="#" styleClass="button edit">edit</a> -->
                </h:panelGroup>
                <hr/>
                <h:panelGroup layout="block" id="documents_episodes_wrapper">

                    <ui:fragment rendered="#{sessionBean.criticalAuthError}">
                        <h:panelGroup layout="block" id="general_documents_auth">
                            <h:panelGroup layout="block" class="panel panel-danger">
                                <h:panelGroup layout="block" class="panel-heading">
                                    <h3 class="panel-title">Critical Authentication Error</h3>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="panel-body">
                                    The authentication service is not responding favourably. Due to this, login into the registry has been suspended. Only administrators can login at this time.
                                    <h:form prependId="false">
                                        <h:graphicImage id="authCheckButtonWorking"
                                                        value="#{resource['images:ajax-loader.gif']}"
                                                        style="display:none;"/>
                                        <p:commandButton ajax="false" id="authCheckButton"
                                                         value="Check authentication service"
                                                         action="#{sessionBean.checkAuthService()}">
                                            <f:ajax execute="@form" render="documents_episodes_wrapper"
                                                    onevent="monitorAuthCheckButton"/>
                                        </p:commandButton>
                                    </h:form>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </ui:fragment>

                    <c:if test="#{sessionBean.criticalAuthError}">
                        <h:outputScript target="body">
                            function monitorAuthCheckButton(data) {
                                var loading = document.getElementById("authCheckButtonWorking");
                                var saveButton = document.getElementById("authCheckButton");

                                if (data.status == "begin") {
                                    loading.style.display = "inline";
                                    saveButton.style.display = "none";
                                }
                                else if (data.status == "success") {
                                    loading.style.display = "none";
                                    saveButton.style.display = "inline";
                                }
                            }
                        </h:outputScript>
                    </c:if>

                    <ui:fragment rendered="#{sessionBean.criticalMainzellisteError}">
                        <h:panelGroup layout="block" id="general_documents_mainzelliste">
                            <h:panelGroup layout="block" class="panel panel-danger">
                                <h:panelGroup layout="block" class="panel-heading">
                                    <h3 class="panel-title">Critical Mainzelliste Error</h3>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="panel-body">
                                    The Mainzelliste service is not responding. Due to this, login into the registry has been suspended. Only registry administrators can login at this time.
                                    <h:form prependId="false">
                                        <h:graphicImage id="mainzellisteCheckButtonWorking"
                                                        value="#{resource['images:ajax-loader.gif']}"
                                                        style="display:none;"/>
                                        <p:commandButton ajax="false" id="mainzellisteCheckButton"
                                                         value="Check Mainzelliste service"
                                                         action="#{sessionBean.checkMainzellisteService()}">
                                            <f:ajax execute="@form" render="documents_episodes_wrapper"
                                                    onevent="monitorMainzellisteCheckButton"/>
                                        </p:commandButton>
                                    </h:form>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </ui:fragment>

                    <c:if test="#{sessionBean.criticalMainzellisteError}">
                        <h:outputScript target="body">
                            function monitorMainzellisteCheckButton(data) {
                                var loading = document.getElementById("mainzellisteCheckButtonWorking");
                                var saveButton = document.getElementById("mainzellisteCheckButton");

                                if (data.status == "begin") {
                                    loading.style.display = "inline";
                                    saveButton.style.display = "none";
                                }
                                else if (data.status == "success") {
                                    loading.style.display = "none";
                                    saveButton.style.display = "inline";
                                }
                            }
                        </h:outputScript>
                    </c:if>

                    <ui:fragment rendered="#{sessionBean.criticalFormEditorError}">
                        <h:panelGroup layout="block" id="general_documents_formeditor">
                            <h:panelGroup layout="block" class="panel panel-danger">
                                <h:panelGroup layout="block" class="panel-heading">
                                    <h3 class="panel-title">Critical FormEditor Error</h3>
                                </h:panelGroup>
                                <h:panelGroup layout="block" class="panel-body">
                                    The FormEditor service is not responding.
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </ui:fragment>

                    <h:panelGroup layout="block" styleClass="general_documents">

                        <h:panelGroup layout="block" styleClass="table clearfix">

                            <h:panelGroup layout="block" styleClass="left" id="left_formtabs">

                                <h:panelGroup layout="block"
                                              styleClass="admintab tab #{configurationBean.isActiveForm('proxy')}"
                                              rendered="#{sessionBean.currentRole.isAdminRole()}">
                                    <h4><h:link value="Proxy Settings" outcome="admin.xhtml?form=proxy"/></h4>
                                </h:panelGroup>
                                <h:panelGroup layout="block"
                                              styleClass="admintab tab #{configurationBean.isActiveForm('auth')}"
                                              rendered="#{sessionBean.currentRole.isAdminRole()}">
                                    <h4><h:link value="Component Authentication"
                                                outcome="admin.xhtml?form=auth"/></h4>
                                </h:panelGroup>

                                <ui:fragment rendered="#{applicationBean.isBridgehead()}">
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('formsBridgehead')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole()}">
                                        <h4><h:link value="Forms" outcome="admin.xhtml?form=formsBridgehead"/>
                                        </h4>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('userlist')} #{configurationBean.isActiveForm('user_edit')} #{configurationBean.isActiveForm('user_add')}">
                                        <h4><h:link value="Users" outcome="admin.xhtml?form=userlist"/></h4>
                                    </h:panelGroup>
                                    <h:panelGroup
                                            rendered="#{configurationBean.isActive('userlist', 'user_edit', 'user_add', 'passwords', 'mfa')}"
                                            layout="block"
                                            styleClass="admintab tab subtab #{configurationBean.isActiveForm('passwords')}">
                                        <h4><h:link value="Password Complexity"
                                                    outcome="admin.xhtml?form=passwords"/></h4>
                                    </h:panelGroup>
                                </ui:fragment>
                                <ui:fragment rendered="#{!applicationBean.isBridgehead()}">
                                    <!--                                    Design area-->
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('login_design')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole()}">
                                        <h4><h:link value="Registry Design"
                                                    outcome="admin.xhtml?form=forms"/></h4>
                                    </h:panelGroup>

                                    <c:set var="designSelected" value="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('forms')=='active' or configurationBean.isActiveForm('episodePattern')=='active' or configurationBean.isActiveForm('login_design')=='active' or configurationBean.isActiveForm('dashboard_design')=='active' or configurationBean.isActiveForm('dataProtection')=='active')}" />

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('episodePattern')}"
                                                  rendered="#{designSelected}">
                                        <h4><h:link value="Episode Pattern"
                                                    outcome="admin.xhtml?form=episodePattern"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('forms')}"
                                                  rendered="#{designSelected}">
                                        <h4><h:link value="Forms"
                                                    outcome="admin.xhtml?form=forms"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('login_design')}"
                                                  rendered="#{designSelected}">
                                        <h4><h:link value="Login Design"
                                                    outcome="admin.xhtml?form=login_design"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('dashboard_design')}"
                                                  rendered="#{designSelected}">
                                        <h4><h:link value="Dashboard Design"
                                                    outcome="admin.xhtml?form=dashboard_design"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('dataProtection')}"
                                                  rendered="#{designSelected}">
                                        <h4><h:link value="Imprint and data protection"
                                                    outcome="admin.xhtml?form=dataProtection"/></h4>
                                    </h:panelGroup>
                                    <!--                                    location area-->
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('locationlist')} #{configurationBean.isActiveForm('location_edit')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole()}">
                                        <h4><h:link value="Locations"
                                                    outcome="admin.xhtml?form=locationlist"/></h4>
                                    </h:panelGroup>
                                    <!--                                    user area-->
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('userlist')} #{configurationBean.isActiveForm('user_edit')} #{configurationBean.isActiveForm('user_add')}">
                                        <h4><h:link value="Users"
                                                    outcome="admin.xhtml?form=userlist"/></h4>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('rolelist')} #{configurationBean.isActiveForm('role_edit')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and configurationBean.isActive('userlist', 'user_edit', 'user_add', 'passwords','rolelist', 'mfa')}">
                                        <h4><h:link value="Roles"
                                                    outcome="admin.xhtml?form=rolelist"/></h4>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('passwords')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and configurationBean.isActive('userlist', 'user_edit', 'user_add', 'passwords','rolelist', 'mfa')}">
                                        <h4><h:link value="Password Complexity"
                                                    outcome="admin.xhtml?form=passwords"/></h4>
                                    </h:panelGroup>
                                    <h:panelGroup
                                            rendered="#{sessionBean.currentRole.isAdminRole() and configurationBean.isActive('userlist', 'user_edit', 'user_add', 'passwords','rolelist', 'mfa')}"
                                            layout="block"
                                            styleClass="admintab tab subtab #{configurationBean.isActiveForm('mfa')}">
                                        <h4><h:link value="Multi Factor Authentication"
                                                    outcome="admin.xhtml?form=mfa"/></h4>
                                    </h:panelGroup>
                                    <!--<h:panelGroup rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('userlist') == 'active' or configurationBean.isActiveForm('user_edit') == 'active' or configurationBean.isActiveForm('user_add') == 'active' or configurationBean.isActiveForm('passwords') == 'active')}" layout="block" styleClass="admintab tab subtab #{configurationBean.isActiveForm('passwords')}">-->
                                    <!--<h4><h:link value="Password Complexity" outcome="admin.xhtml?form=passwords"/></h4>-->
                                    <!--</h:panelGroup>-->
                                </ui:fragment>
                                <ui:remove>
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('mailProvider')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole()}">
                                        <h4><h:link value="Mail Provider"
                                                    outcome="admin.xhtml?form=mailProvider"/></h4>
                                    </h:panelGroup>
                                </ui:remove>
                                <h:panelGroup layout="block"
                                              styleClass="admintab tab #{configurationBean.isActiveForm('register')}"
                                              rendered="#{sessionBean.currentRole.isAdminRole()}">
                                    <h4><h:link value="Registry Settings" outcome="admin.xhtml?form=register"/></h4>
                                </h:panelGroup>

                                <ui:fragment rendered="#{!applicationBean.isBridgehead()}">

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('mainzelliste')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active' or configurationBean.isActiveForm('formeditor')=='active' or configurationBean.isActiveForm('mdr') == 'active') or configurationBean.isActiveForm('exporter')=='active'}">
                                        <h4><h:link value="Mainzelliste"
                                                    outcome="admin.xhtml?form=mainzelliste"/></h4>
                                    </h:panelGroup>
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('formeditor')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active' or configurationBean.isActiveForm('formeditor')=='active' or configurationBean.isActiveForm('mdr') == 'active') or configurationBean.isActiveForm('exporter')=='active'}">
                                        <h4><h:link value="Form Editor"
                                                    outcome="admin.xhtml?form=formeditor"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('mdr')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active' or configurationBean.isActiveForm('formeditor')=='active' or configurationBean.isActiveForm('mdr') == 'active') or configurationBean.isActiveForm('exporter')=='active'}">
                                        <h4><h:link value="MDR" outcome="admin.xhtml?form=mdr"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('importer')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active' or configurationBean.isActiveForm('formeditor')=='active' or configurationBean.isActiveForm('mdr') == 'active') or configurationBean.isActiveForm('exporter')=='active'}">
                                        <h4><h:link value="Import Interface"
                                                    outcome="admin.xhtml?form=importer"/></h4>
                                    </h:panelGroup>

                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('exporter')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active' or configurationBean.isActiveForm('formeditor')=='active' or configurationBean.isActiveForm('mdr') == 'active') or configurationBean.isActiveForm('exporter')=='active'}">
                                        <h4><h:link value="Export Application"
                                                    outcome="admin.xhtml?form=exporter"/></h4>
                                    </h:panelGroup>
                                    <!--
                                                                        <h:panelGroup layout="block"
                                                                                      styleClass="admintab tab #{configurationBean.isActiveForm('ror')}"
                                                                                      rendered="#{sessionBean.currentRole.isAdminRole()}">
                                                                            <h4><h:link value="Catalogue Reports"
                                                                                        outcome="admin.xhtml?form=ror"/></h4>
                                                                        </h:panelGroup>
                                    -->
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab #{configurationBean.isActiveForm('fair')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole()}">
                                        <h4><h:link value="FAIR Data Point"
                                                    outcome="admin.xhtml?form=fair"/></h4>
                                    </h:panelGroup>

                                </ui:fragment>

                                <ui:fragment rendered="#{applicationBean.isBridgehead()}">
                                    <h:panelGroup layout="block"
                                                  styleClass="admintab tab subtab #{configurationBean.isActiveForm('importer')}"
                                                  rendered="#{sessionBean.currentRole.isAdminRole() and (configurationBean.isActiveForm('register') == 'active' or configurationBean.isActiveForm('mainzelliste') == 'active' or configurationBean.isActiveForm('importer')=='active')}">
                                        <h4><h:link value="Import Interface"
                                                    outcome="admin.xhtml?form=importer"/></h4>
                                    </h:panelGroup>
                                </ui:fragment>
                                <h:panelGroup layout="block" id="version">
                                    <input type="checkbox" id="info-checkbox" />
                                    <label id="info-label" for="info-checkbox">OSSE<h:outputText rendered="#{applicationBean.isBridgehead()}"  value="Bridgehead"/> #{applicationBean.getOsseBuildVersion()}  </label>
                                    <noscript id="Info">#{applicationBean.getVersionFromManifest()} (#{applicationBean.getOsseVersion()}) [#{applicationBean.getBuildCommitBranchFromManifest()} # #{applicationBean.getBuildCommitHashFromManifest()} @ #{applicationBean.getBuildTimeFromManifest()} UTC]</noscript>
                                    <button id="build-info-copy" class="fa fa-files-o clipboard"  title="#{ossemsg['version_copy']}" onclick="copyInfo('#Info')"></button>
                                </h:panelGroup>
                            </h:panelGroup>

                            <h:panelGroup layout="block" styleClass="right">

                                <ui:include src="/admin/#{configurationBean.form}.xhtml"/>

                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>

                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
    </f:view>
    <co:sessionTimeoutModal/>
</h:body>

</html>