<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                xmlns:comp="http://xmlns.jcp.org/jsf/composite/components">

    <ui:param name="locale" value="en"/>
    <ui:param name="bodyClass" value="index"/>
    <ui:param name="mainDivId" value="dashboard"/>
    <ui:param name="mainDivStyles" value="margin-top: 20px;"/>

    <ui:define
            name="title">#{request.servletContext.servletContextName} - #{ossemsg.dashboard_title}</ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="jquery.dataTables.css" library="css"/>
    </ui:define>

    <ui:define name="main-content">
        <h:form>
            <div class="row">
                <comp:welcomePanel title="#{designBean.getCurrDashboardDesignLocal().registryName}"
                                   details="#{designBean.getCurrDashboardDesignLocal().greetingsText}"
                                   cssClass="col-xs-12"/>
            </div>
            <div class="row equal-height">
                <comp:dashboardPanel title="#{ossemsg.dashboard_showPatientListTitle}"
                                     details="#{ossemsg.dashboard_showPatientListDescription}"
                                     action="patientlist?faces-redirect=true"
                                     cssClass="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                     iconClass="fa-list"/>
                <comp:dashboardPanel title="#{ossemsg.dashboard_createPatientTitle}"
                                     details="#{ossemsg.dashboard_createPatientDescription}"
                                     rendered="#{sessionBean.mayCreatePatients}"
                                     action="#{patientBean.goAddPatient()}"
                                     iconClass="fa-plus"
                                     cssClass="col-lg-6 col-md-6 col-sm-6 col-xs-12"/>
            </div>
            <div class="row equal-height">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading dashboard-panel-text">
                            #{ossemsg.dashboard_statistics_title}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <table class="dataTable">
                                        <thead>
                                        <tr>
                                            <td>#{ossemsg.dashboard_statistics_locationName}</td>
                                            <td>#{ossemsg.dashboard_statistics_locationPatientCount}</td>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <td>#{ossemsg.dashboard_statistics_total}</td>
                                            <td>#{dashboardBean.patientsTotal}</td>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <ui:repeat
                                                value="#{dashboardBean.locationsSortedByPatientCount}"
                                                var="location">
                                            <tr>
                                                <td>#{location.name}</td>
                                                <td>
                                                    <h:outputText
                                                            rendered="#{location.amountPatients == null}"
                                                            value="#{ossemsg.dashboard_statistics_na}"/>
                                                    <h:outputText
                                                            rendered="#{location.amountPatients != null}"
                                                            value="#{location.amountPatients}"/>
                                                </td>
                                            </tr>
                                        </ui:repeat>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Example for additional statistics with a chart -->
                                <!--
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <table class="dataTable">
                                                <thead>
                                                <tr>
                                                    <td>#{ossemsg.dashboard_statistics_propertyName}</td>
                                                    <td>#{ossemsg.dashboard_statistics_propertyPatientCount}</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <canvas id="dashboard-statistics-patient-count-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row equal-height">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading dashboard-panel-text">
                            #{ossemsg.dashboard_documents_title}
                        </div>
                        <div class="panel-body">
                            <p>
                                #{ossemsg.dashboard_documents_introtext}
                            </p>
                            <ul class="list-group">
                                <ui:repeat value="#{designBean.getCurrDashboardDesignLocal().documentList}" var="link">
                                    <li class="list-group-item">
                                        <a href="#{link.url}" target="_blank">
                                            <span class="glyphicon glyphicon-link"></span> #{link.name}
                                        </a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading dashboard-panel-text">
                            #{ossemsg.dashboard_links_title}
                        </div>
                        <div class="panel-body">
                            <p>
                                #{ossemsg.dashboard_links_introtext}
                            </p>
                            <ul class="list-group">
                                <ui:repeat value="#{designBean.getCurrDashboardDesignLocal().linkList}" var="link">
                                    <li class="list-group-item">
                                        <a href="#{link.url}" target="_blank">
                                            <span class="glyphicon glyphicon-link"></span> #{link.name}
                                        </a>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:outputScript name="webjars/datatables/1.10.20/js/jquery.dataTables.min.js"/>
        <h:outputScript name="webjars/datatables-plugins/1.10.20/sorting/absolute.js"/>
        <h:outputScript name="webjars/chartjs/2.9.3/Chart.min.js"/>
        <h:outputScript
                name="webjars/chartjs-plugin-colorschemes/0.3.0/dist/chartjs-plugin-colorschemes.min.js"/>
        <h:outputScript rendered="#{!empty dashboardBean.locations}" target="body">
            $(document).ready(function() {
              $('table.dataTable').DataTable({
                language: {
                  "url":"javax.faces.resource/js/datatable_#{sessionBean.language}.json"
                },
                "order": [[ 1, 'desc' ], [ 0, 'asc' ]],
                columnDefs: [
                  {
                    targets: 1, type: $.fn.dataTable.absoluteOrderNumber([
                      {value: 'n. a.', position: 'bottom'},
                      {value: 'n/a', position: 'bottom'}
                    ])
                  }
                ],
                "searching": false
              });

            // Example for pie chart
            // var patientCountData = {
            // datasets: [{
            // data: #{dashboardBean.locationPatientCountAsArraySortedByPatientCount}
            // }],
            // labels: #{dashboardBean.locationNamesAsArraySortedByPatientCount}
            // };

            // var patientCountPieChart = new Chart($("#dashboard-statistics-patient-count-chart"), {
            // type: 'pie',
            // data: patientCountData,
            // options: {
            // legend: {
            // position: "bottom"
            // },
            // plugins: {
            // colorschemes: {
            // scheme: 'tableau.Blue20'
            // }
            // }
            // }
            // });
            // End example
            });
        </h:outputScript>

    </ui:define>
</ui:composition>