<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="#{sessionBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </f:facet>

    <noscript>
        <meta http-equiv="refresh" content="0; URL=nojavascript.xhtml"/>
    </noscript>
    <title>#{request.servletContext.servletContextName} - Login</title>

    <h:outputStylesheet name="webjars/flag-icon-css/3.4.6/css/flag-icon.min.css"/>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="login.css" library="css"/>
    <h:outputStylesheet name="buttons.css" library="css"/>
    <h:outputStylesheet name="fonts.css" library="css"/>

    <h:outputScript target="body">
        javascript:window.history.forward(1);
    </h:outputScript>

    <h:outputScript library="js" name="bootstrap.min.js" />
</h:head>


<h:body styleClass="gradientBackground">

    <h:panelGroup layout="block" id="page-wrapper" styleClass="fadein login-screen">

        <h:panelGroup layout="block" styleClass="formContainer col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
            <ui:fragment rendered="#{designBean.formParam['design.custom_login']}">
                <br/>
                <h:graphicImage rendered="#{designBean.isLogoSet('design.login_image')}" value="#{designBean.getImageString('design.login_image')}" alt="Registry logo"
                                styleClass="login-logo" />
                <h2 class="panel-heading login-welcome-heading">#{designBean.formParam['design.login_headline']}</h2>
                <p class="login-welcome-text">
                    #{designBean.formParam['design.login_text']}
                </p>
                <p:separator rendered="#{designBean.formParam['design.custom_login']}"/>
            </ui:fragment>
            <h:panelGroup layout="block" styleClass="form-signin">
                <h:form id="language_form">
                    <h3 class="form-signin-heading">
                        Login
                        <h:panelGroup layout="block" id="logo" styleClass="pull-right"
                                      style="float: right; position: relative; top: -0.3em;">
                            <ui:fragment rendered="#{applicationBean.supportedLocales.size() > 1}">
                                <div class="dropdown language-menu">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                       id="dropdownLanguageLink" name="dropdownLanguageLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"
                                       title="#{msg.language}: #{(sessionBean.getCurrentLanguage().equals('de'))?ossemsg['language.de']:ossemsg['language.en']}">
                                        <span class="flag-icon flag-icon-#{(sessionBean.getCurrentLanguage().equals('de'))?'de':'gb'}"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownLanguageLink">
                                        <ui:repeat value="#{applicationBean.supportedLocales}" var="locale">
                                            <li title="#{ossemsg['language.'.concat(locale)]}">
                                                <h:commandLink action="#{sessionBean.changeLanguageAndStoreBrowserHistory(locale)}"
                                                               styleClass="dropdown-item"><span
                                                        class="flag-icon flag-icon-#{(locale.equals('en'))?'gb':locale}"></span></h:commandLink>
                                            </li>
                                        </ui:repeat>
                                    </ul>
                                </div>
                            </ui:fragment>
                        </h:panelGroup>
                    </h3>
                </h:form>

                <h:form id="loginform">
                    <p:focus context="loginform"/>
                    <p:growl id="growl" showDetail="true" sticky="false"/>
                    <h:inputSecret disabled="true"
                                   value="password"
                                   redisplay="true"
                                   styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control">
                    </h:inputSecret>

                    <h:inputSecret disabled="true"
                                   value="password"
                                   redisplay="true"
                                   styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control">
                    </h:inputSecret>

                    <hr/>
                    <h:outputText value="#{msg.missingtoken}"/>
                    <h:inputText required="true" requiredMessage="#{msg.missingtoken}"
                                 style="margin-top: 10px"
                                 id="loginTokenInput" value="#{sessionBean.entries['current_totp_token']}"
                                 styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control">
                    </h:inputText>

                    <p:watermark for="loginTokenInput" value="#{msg.mfa_token_watermark}"/>


                    <h:commandButton id="command" action="#{multiFactorAuthBean.checkToken}" value="#{msg.login}"
                                     styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-lg btn-primary btn-block"
                                     style="padding: 10px 16px !important; box-shadow: none;"/>

                </h:form>
            </h:panelGroup>

            <ui:remove>
                <div class="form-signin-bottom">
                    <h:form>
                        <h:commandLink action="#{sessionBean.goForgotPassword()}" value="#{msg.forgotpassword}"
                                       styleClass="btn btn-default"/>
                    </h:form>
                </div>
            </ui:remove>

        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4" style="margin-top: 10px">
            <c:set var="linkImprint" value="#{imprintBean.getImprintLink()}" />
            <c:set var="linkPrivacy" value="#{imprintBean.getPrivacyLink()}" />
            <h:outputLink rendered="#{linkImprint != null and linkImprint != ''}" value="#{linkImprint}" styleClass="float-left">#{ossemsg['link.imprint']}</h:outputLink>
            <h:outputLink rendered="#{linkPrivacy != null and linkPrivacy != ''}" value="#{linkPrivacy}" styleClass="float-right">#{ossemsg['link.privacy']}</h:outputLink>
        </h:panelGroup>

    </h:panelGroup>
</h:body>
</html>