<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:comp="http://xmlns.jcp.org/jsf/composite/components">

    <ui:param name="bodyClass" value="patientlist" />
    <ui:param name="mainDivId" value="patientlist" />

    <ui:define name="title">#{request.servletContext.servletContextName} - #{ossemsg.list_of_patients}"</ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="jquery.dataTables.css" library="css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript library="js" name="clipboard.min.js"/>
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js" />
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js" />
        <h:outputScript library="js" name="date-de.js"/>
        <h:outputScript library="js" name="osse/pages/patientlist-raw.js"/>
        <h:outputScript library="js" name="dslib/authorization.js"/>
        <h:outputScript library="js" name="dslib/tempIdResolver.js"/>
        <h:outputScript library="js" name="dslib/mainzellisteResolver.js"/>
        <h:outputScript library="js" name="dslib/netApiConnection.js"/>
        <h:outputScript library="js" name="dslib/tempIdCache.js"/>
        <h:outputScript library="js" name="dslib/webStorageTempIdCache.js"/>
    </ui:define>

    <ui:define name="main-content">
        <ui:param name="isBridgehead" value="#{applicationBean.isBridgehead()}"/>
        <ui:param name="doesMainzellisteWantIdat" value="#{applicationBean.doesMainzellisteWantIdat()}"/>

        <h:form prependId="false">
            <h:panelGroup style="font-size: 30px; color: white;">
                #{ossemsg.list_of_patients} (<span class="amount-of-patients"><i class="fa fa-spinner fa-spin fa-fw" /></span>)
            </h:panelGroup>

            <div id="mainzelliste-url" style="display: none;">#{sessionBean.mainzellisteRestUrl}</div>
            <div id="language-setting" style="display: none;">#{sessionBean.language}</div>

            <table id="patientlist-table-unsortable" class="display patientlist-table patientListTable recordTable">
                <thead>
                <tr>
                    <th>
                        <ui:fragment rendered="#{!isBridgehead and doesMainzellisteWantIdat}">
                            Name (PID)
                        </ui:fragment>
                        <ui:fragment rendered="#{isBridgehead or !doesMainzellisteWantIdat}">
                            #{ossemsg.localIdentifier}
                        </ui:fragment>
                    </th>
                    <th>#{msg.birthdate}</th>
                    <th>#{msg.location}</th>
                    <!--Leave actions out for now...-->
                    <!--<th>#{msg.action}</th>-->
                </tr>
                </thead>
            </table>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
            <o:commandScript name="switchPatient" action="#{sessionBean.switchPatientFromTable}" />
        </h:form>
    </ui:define>
</ui:composition>