<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1, maximum-scale=1"/>

    <title>#{request.servletContext.servletContextName} - #{ossemsg.patient_data}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <h:outputStylesheet name="webjars/flag-icon-css/3.4.6/css/flag-icon.min.css"/>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="css/font-awesome.css" library="font-awesome"/>
    <h:outputStylesheet name="buttons.css" library="css" target="head"/>
    <h:outputStylesheet name="fonts.css" library="css" target="head"/>

    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="clipboard.min.js"/>
</h:head>

<h:body styleClass="index">
    <c:set var="doesMainzellisteWantIdat" value="#{applicationBean.doesMainzellisteWantIdat()}"/>
    <f:view contentType="text/html" locale="#{sessionBean.locale}">
        <p:growl id="growl" showDetail="true" sticky="false" globalOnly="true" autoUpdate="true"/>

        <nav id="nav">
            <h:panelGroup layout="block" styleClass="container">
                <ui:include src="/components/navbar_left.xhtml"/>
                <ui:include src="/components/navbar_right.xhtml"/>
            </h:panelGroup>
        </nav>

        <h:panelGroup layout="block" id="profile">
            <h:panelGroup layout="block" styleClass="container">
                <h:panelGroup rendered="#{patientBean.patientTokenPresent}" layout="block" styleClass="row">
                    <h:panelGroup layout="block" styleClass="col-md-12" rendered="#{doesMainzellisteWantIdat}">
                        <h2 class="name">
                            <h:panelGroup id="idatLastName"
                                          pt:data-tempid="#{patientBean.patientTokenID}"
                                          pt:data-subject="nachname"/>, <h:panelGroup
                                id="idatFirstName"
                                pt:data-tempid="#{patientBean.patientTokenID}"
                                pt:data-subject="vorname"/>
                            ( <h:panelGroup id="idatPID"
                                            pt:data-tempid="#{patientBean.patientTokenID}"
                                            pt:data-subject="pid"/> )
                        </h2>
                        <h:panelGroup layout="block"
                                      styleClass="birth float-left first">*<h:panelGroup
                                id="idatBirthDay" pt:data-tempid="#{patientBean.patientTokenID}"
                                pt:data-subject="geburtstag"/>.<h:panelGroup id="idatBirthMonth"
                                                                             pt:data-tempid="#{patientBean.patientTokenID}"
                                                                             pt:data-subject="geburtsmonat"/>.<h:panelGroup
                                id="idatBirthYear" pt:data-tempid="#{patientBean.patientTokenID}"
                                pt:data-subject="geburtsjahr"/></h:panelGroup>
                        <hr/>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="col-md-12" rendered="#{!doesMainzellisteWantIdat}">
                        <h2 class="name">
                            <h:panelGroup id="noIdatPatientId" pt:data-tempid="#{patientBean.patientTokenID}"
                                          pt:data-subject="patientId"/>
                            ( <h:panelGroup id="noIdatPID" pt:data-tempid="#{patientBean.patientTokenID}"
                                            pt:data-subject="pid"/> )
                        </h2>
                        <hr/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:form prependId="false">

                    <h:panelGroup rendered="#{patientBean.patientTokenPresent}" layout="block"
                                  id="topFormPanel"
                                  styleClass="panel panel-default">
                        <h:panelGroup class="panel-heading" layout="block">
                            <h4>#{msg.heading_patient_create}</h4>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="panel-body">
                            <h:panelGroup layout="block" styleClass="row tables" style="display: none">
                                <h:panelGroup layout="block" styleClass="col-md-2">
                                    <h:outputLabel for="usergroup" value="#{msg.centerID}"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="col-md-3">
                                    <h:selectOneMenu styleClass="#{!component.valid ? 'error':''}"
                                                     requiredMessage="#{msg.required}" required="true"
                                                     value="#{patientBean.dataObject['location']}" id="usergroup"
                                                     name="usergroup">
                                        <f:selectItems value="#{patientBean.locationList}"/>
                                    </h:selectOneMenu>
                                </h:panelGroup>
                                <h:panelGroup layout="block" styleClass="col-md-7">
                                    <h:message for="usergroup"/>
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup layout="block" styleClass="row">
                                <h:panelGroup layout="block" styleClass="col-md-12">
                                    #{msg.text1_patient_create}
                                    <h:panelGroup class="idatNameAndBirthday">
                                        <ui:fragment rendered="#{doesMainzellisteWantIdat}">
                                            <h:panelGroup id="idatLastNameText"
                                                          pt:data-tempid="#{patientBean.patientTokenID}"
                                                          pt:data-subject="nachname"/>,
                                            <h:panelGroup
                                                    id="idatFirstNameText"
                                                    pt:data-tempid="#{patientBean.patientTokenID}"
                                                    pt:data-subject="vorname"/> (*<h:panelGroup
                                                id="idatBirthDayText"
                                                pt:data-tempid="#{patientBean.patientTokenID}"
                                                pt:data-subject="geburtstag"/>.<h:panelGroup
                                                id="idatBirthMonthText"
                                                pt:data-tempid="#{patientBean.patientTokenID}"
                                                pt:data-subject="geburtsmonat"/>.<h:panelGroup
                                                id="idatBirthYearText"
                                                pt:data-tempid="#{patientBean.patientTokenID}"
                                                pt:data-subject="geburtsjahr"/>)
                                        </ui:fragment>
                                        <ui:fragment rendered="#{!doesMainzellisteWantIdat}">
                                            <h:panelGroup id="noIdatPatientIdText"
                                                          pt:data-tempid="#{patientBean.patientTokenID}"
                                                          pt:data-subject="patientId"/>
                                        </ui:fragment>
                                    </h:panelGroup>
                                    #{msg.text2_patient_create}<br/>
                                    #{msg.text3_patient_create}
                                    <h:panelGroup id="idatPIDText" class="idatPid"
                                                  pt:data-tempid="#{patientBean.patientTokenID}"
                                                  pt:data-subject="pid"/>
                                    <span class="fa fa-files-o clipboard" title="#{ossemsg['copy_pseudonym']}"></span>
                                    #{msg.text4_patient_create}
                                    <br/>
                                    <h:panelGroup id="location-label">#{msg.centerID}</h:panelGroup>:
                                    <h:panelGroup
                                            id="location-name">#{patientBean.getCurrentLocation()}</h:panelGroup><br/>
                                    <br/>
                                    #{msg.text5_patient_create}<br/>
                                    #{msg.text6_patient_create}
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>

                    <h:inputHidden id="tokenIDPresent" value="#{patientBean.patientTokenPresent}"/>

                    <p:commandButton rendered="#{patientBean.patientTokenPresent}" styleClass="btn btn-haha" id="save"
                                     value="#{msg.savebutton}" onclick="setTimeout('disableBtn()', 50);"
                                     action="#{patientBean.save}" update="@form" ajax="false"/>
                    <p:commandButton rendered="#{patientBean.patientTokenPresent}" styleClass="btn btn-haha"
                                     id="saveAndMore" onclick="setTimeout('disableBtn()', 50);"
                                     value="#{msg['save_and_another_one']}" action="#{patientBean.saveAndMore()}"
                                     update="@form" ajax="false"/>
                    <p:commandButton rendered="#{patientBean.patientTokenPresent}" styleClass="btn btn-haha"
                                     ajax="false" onclick="setTimeout('disableBtn()', 50);" immediate="true" id="cancel"
                                     type="submit" value="#{msg.cancel}" action="#{patientBean.goPatientList()}"/>
                    <script type="application/javascript">
                        function disableBtn() {
                            document.getElementById("save").disabled = true;
                            document.getElementById("saveAndMore").disabled = true;
                            document.getElementById("cancel").disabled = true;
                        }
                    </script>

                </h:form>

            </h:panelGroup>
        </h:panelGroup>

        <h:outputScript library="js" name="dslib/authorization.js"/>
        <h:outputScript library="js" name="dslib/tempIdResolver.js"/>
        <h:outputScript library="js" name="dslib/mainzellisteResolver.js"/>
        <h:outputScript library="js" name="dslib/netApiConnection.js"/>
        <h:outputScript library="js" name="dslib/tempIdCache.js"/>
        <h:outputScript library="js" name="dslib/webStorageTempIdCache.js"/>
        <h:outputScript target="body">
            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
            mainzellisteURL:"#{sessionBean.getMainzellisteRestUrl()}"});

            var gotToken = $('#tokenIDPresent').val();
            if(gotToken != 'true') {
            window.location.replace("patientlist.xhtml");
            } else {
            $(document).ready(function() {
            tempIdResolver.resolve();

            function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
            }

            var str;

            if (getCookie("lang") == "en") str = "Copied";
            if (getCookie("lang") =="de") str = "Kopiert";

            var clipboard = new Clipboard('.clipboard', {
            text: function(trigger) {
            return $(trigger).closest("div").find("[data-subject='pid']").text();
            }
            });

            function setTooltip(btn, message) {

            $(btn).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
            }

            function hideTooltip(btn) {
            setTimeout(function() {
            $(btn).tooltip('hide');
            }, 1000);
            }

            clipboard.on('success', function(e) {

            $($(e.trigger).closest("div").find("[data-subject='pid']")).tooltip({
            trigger: 'click',
            placement: 'bottom',
            // delay:{show:4000, hide:4000},
            });

            setTooltip($(e.trigger).closest("div").find("[data-subject='pid']"), str);
            hideTooltip($(e.trigger).closest("div").find("[data-subject='pid']"));
            });

            });
            }
        </h:outputScript>

    </f:view>


</h:body>

</html>