<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:comp="http://xmlns.jcp.org/jsf/composite/components">

    <ui:param name="bodyClass" value="index" />
    <ui:param name="mainDivId" value="patient" />

    <ui:define name="title">#{request.servletContext.servletContextName} - TODO get title"</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="patientId" value="#{mypatientId}" />
        </f:metadata>
    </ui:define>

    <ui:define name="main-content">
        <h:outputText value="now we have to load everything for patient: #{mypatientId}" />
    </ui:define>
</ui:composition>