<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:co="http://xmlns.jcp.org/jsf/composite/components"
>

<f:metadata>
    <c:if test="#{sessionBean.showQueryResult()}">
        <f:viewAction action="#{sessionBean.goStartPage()}" onPostback="false" />
    </c:if>
</f:metadata>

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport"
        content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <title>#{request.servletContext.servletContextName} - #{msg.your_profile}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <h:outputStylesheet name="webjars/flag-icon-css/3.4.6/css/flag-icon.min.css"/>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="css/font-awesome.css" library="font-awesome"/>
    <h:outputStylesheet name="buttons.css" library="css" target="head"/>
    <h:outputStylesheet name="fonts.css" library="css" target="head"/>
    
    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js"/>
    <h:outputScript library="js" name="bootstrap.min.js" />
    <h:outputScript library="js" name="osse/multiFactorAuth.js" />
    
</h:head>

<h:body styleClass="index">
    <f:view contentType="text/html" locale="#{sessionBean.locale}">


<p:growl id="growl" showDetail="true" sticky="false" globalOnly="true" autoUpdate="true"/> 
        <nav id="nav">
        <h:panelGroup layout="block" styleClass="container">
            <ui:include src="/components/navbar_left.xhtml" />
            <ui:include src="/components/navbar_right.xhtml" />
        </h:panelGroup>

        </nav>



<h:panelGroup layout="block" id="profile">
  <h:panelGroup layout="block" styleClass="container">
    <h:panelGroup layout="block" styleClass="row">
      <h:panelGroup layout="block" styleClass="col-md-12">
        <h1>#{msg.your_profile}</h1>
        <h:form prependId="false">
            <h:commandLink styleClass="button add" action="#{sessionBean.goStartPage()}" id="backto_list_patients"><i class="fa fa-arrow-left"></i> #{msg.backToPatientlist}</h:commandLink>
        </h:form>
        <hr />
      </h:panelGroup>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="row">
      <h:panelGroup layout="block" styleClass="col-md-1">
      </h:panelGroup>
      <h:panelGroup layout="block" styleClass="col-md-10">

<ui:fragment rendered="#{sessionBean.hasMultipleRoles()}">				
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>#{ossemsg.select_default_role}</h4><small>#{ossemsg.select_default_role_text}</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
<h:form prependId="false" >

<h:selectOneMenu styleClass="#{!component.valid ? 'error':''}" requiredMessage="#{msg.required}" required="true" value="#{profileBean.formParam['defaultRole']}" id="defaultrole" name="defaultrole">
        <f:selectItems value="#{sessionBean.roleList}"/>
</h:selectOneMenu>

<h:commandLink style="margin-left: 10px;" styleClass="btn btn-success" type="submit" value="#{ossemsg.set_default_role}" action="#{profileBean.setDefaultRole}" />
</h:form>
</h:panelGroup>
</h:panelGroup>
</ui:fragment>


<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>#{msg.link_pwchange_other}</h4>
<small>#{msg.pwchange_description}</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
<h:form prependId="false">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="currentpassword">#{msg.currentpassword}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="currentpassword" name="currentpassword" value="#{profileBean.formParam['currentpassword']}"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="currentpassword" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password">#{msg.password}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret feedback="true" styleClass="#{!component.valid ? 'error':''}" id="password" name="password" value="#{profileBean.formParam['password']}" validator="Password"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password_repeat">#{msg.password_repeat}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password_repeat" name="password_repeat" value="#{profileBean.formParam['password_repeat']}" validator="Password"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password_repeat" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:commandLink style="margin-top: 5px;" styleClass="btn btn-success" type="submit" value="#{msg.link_pwchange}" action="#{profileBean.changePassword}" />

</h:form>
</h:panelGroup>
</h:panelGroup>

          <h:panelGroup layout="block" styleClass="panel panel-default" id="importerform"
                        style="margin-bottom: 0px;" rendered="#{multiFactorAuthBean.isToTpActive()}">
              <h:panelGroup layout="block" styleClass="panel-heading">
                  <h4>#{msg.mfa_auth_profile_model_header}</h4>
                  <small>#{msg.mfa_auth_profile_explainer}</small>
              </h:panelGroup>
              <h:panelGroup layout="block" styleClass="panel-body">
                  <h:form prependId="false">
<!--                      <h:outputLabel for="totpToggle" styleClass="dataElementField hasTooltip"
                                     value="TOTP toggle"/>-->
                      <h:panelGroup id="mfaPanel" layout="block" styleClass="input-group">
                          <h:commandLink rendered="#{not profileBean.formParam['authentication.mfa.authenticator']}" style="margin-top: 5px;" styleClass="btn btn-success" value="#{msg.mfa_auth_profile_activate}" action="#{profileBean.setupToTp()}" >
                              <f:ajax event="click" onevent="complete2faActivate" render=":modal_form:mfaModal"/>
                          </h:commandLink>
<!--                        <p:commandButton  type="submit" rendered="#{profileBean.formParam['authentication.mfa.authenticator']}" style="margin-top: 5px;" styleClass="btn btn-danger" value="#{msg.mfa_auth_profile_deactivate}" action="#{profileBean.deactivateMfaAuthenticator()}" update="mfaPanel" process="@this">
                          <p:confirm header="Confirmation" message="Are you sure you want to proceed?" icon="pi pi-exclamation-triangle"/>
                        </p:commandButton>-->
                        <p:commandLink rendered="#{profileBean.formParam['authentication.mfa.authenticator']}"  onclick="PF('confirmationDeactivateMFA').show()" title="#{ossemsg['delete_patient']}" style="margin-top: 5px;" styleClass="btn btn-danger" update="mfaPanel" value="#{msg.mfa_auth_profile_deactivate}">

                        </p:commandLink>
<!--                        <h:commandLink rendered="#{profileBean.formParam['authentication.mfa.authenticator']}" style="margin-top: 5px;" styleClass="btn btn-danger" value="#{msg.mfa_auth_profile_deactivate}">
                            <f:ajax event="click" execute="mfaPanel" render="mfaPanel" onevent="confirmationDeactivateMFA.show()"/>
                          </h:commandLink>-->

                      </h:panelGroup>
                      <br/>


                  </h:form>
              </h:panelGroup>
          </h:panelGroup>

      </h:panelGroup>
      <h:panelGroup layout="block" styleClass="col-md-1">
      </h:panelGroup>
    </h:panelGroup>

  </h:panelGroup>
</h:panelGroup>


        <p:confirmDialog id="confirmationDeactivateMFAPage"
                         message="#{msg.mfa_deactivation_dialog_message}"
                         header="#{msg.mfa_deactivation_dialog_header}" severity="alert"
                         widgetVar="confirmationDeactivateMFA">
            <h:form prependId="false">
                <p:commandButton style="margin-top: 5px;" styleClass="btn btn-danger"
                                 id="killPatientYes" type="submit" ajax="false"
                                 value="#{msg.confirm_switch_executor}"
                                 action="#{profileBean.deactivateMfaAuthenticator()}"
                                 onclick="confirmationDeactivateMFA.hide()"/>
                <p:commandButton style="margin-top: 5px;" styleClass="btn btn-success"
                                 id="declinePatientDelete" value="#{msg.formbutton_import_no}"
                                 onclick="PF('confirmationDeactivateMFA').hide()" type="button"/>
            </h:form>
        </p:confirmDialog>

        <h:form id="modal_form" rendered="#{multiFactorAuthBean.isToTpActive()}">
            <p:dialog id="mfaModal" header="#{msg.mfa_auth_profile_model_header}"
                      width="min-content" widgetVar="mfa-dlg" modal="true" resizable="false">
                <h:panelGroup layout="block">
                    <h:outputText style="display: block;"
                                  value="#{msg.mfa_auth_profile_model_message}"/>

                    <h:panelGroup layout="block" styleClass="col-xs-12" style="margin-top: 5px; max-width: 100%;">
                        <h:graphicImage value="#{profileBean.qrCode}"></h:graphicImage>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="col-xs-12">
                        <h4>Secret</h4>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="col-xs-12" style="max-width: 100%; text-align: center; margin-top: 5px;">
                        <h:outputText value="#{multiFactorAuthBean.getCurrentSecret()}"/>
                    </h:panelGroup>

                    <h:panelGroup layout="block" styleClass="col-xs-12" style="margin-top: 10px;">
                        <h4>#{msg.mfa_recovery_code_heading}</h4>
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="col-xs-12" style="margin-bottom: 10px;">

                        <ul  class="col-xs-12" style="list-style-type: none; text-align: center; margin-top: 5px;">
                            <ui:repeat value="#{profileBean.recoveryCodes}" var="recoveryCode">
                                <li>
                                    <h:outputText value="#{recoveryCode}"/>
                                </li>
                            </ui:repeat>
                        </ul>
                        <small>#{msg.mfa_recovery_code_warning}</small>
                    </h:panelGroup>

                    <h:panelGroup styleClass="input-group" id="new-entry-block" style="min-width: 30px; min-height: 30px">
                        <h:inputText value="#{profileBean.currentToken}" aria-describedby="button-addon" styleClass="form-control" style="z-index: auto;">
                            <p:ajax event="keyup" delay="450"
                                    process="token-check-group"
                                    update="token-check-group"
                                    onstart="$('.token-links').addClass('button-spinner')"
                                    oncomplete="$('.token-links').removeClass('button-spinner')"
                            />
                        </h:inputText>

                        <h:panelGroup id="token-check-group" styleClass="input-group-btn">
                            <c:set var="token_okay" value="#{profileBean.evalCurrentTotp(profileBean.currentToken)}"/>
                            <h:commandLink
                                    rendered="#{token_okay}"
                                    id="token-okay-link"
                                    action="#{profileBean.activateMfaAuthenticator()}"
                                    styleClass="btn btn-success token-links"
                                    style="display: flex;border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;">
                                <h:outputText value="#{msg.mfa_auth_profile_model_activate}"/>
                            </h:commandLink>
                            <h:commandLink
                                    rendered="#{not token_okay}"
                                    id="token-not-okay-link"
                                    styleClass="btn btn-primary token-links disabled"
                                    style="display: flex;border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;">
                                <h:outputText value="#{msg.mfa_auth_profile_model_activate}"/>
                            </h:commandLink>
                        </h:panelGroup>



                    </h:panelGroup>
                </h:panelGroup>

                <p:ajax event="close" update=":importerform"/>
            </p:dialog>
        </h:form>


        <h:outputScript library="js" name="dslib/authorization.js" />
            <h:outputScript library="js" name="dslib/tempIdResolver.js" />
            <h:outputScript library="js"
                name="dslib/mainzellisteResolver.js" />
            <h:outputScript library="js"
                name="dslib/netApiConnection.js" />
            <h:outputScript library="js" name="dslib/tempIdCache.js" />
            <h:outputScript library="js"
                name="dslib/webStorageTempIdCache.js" />
            <h:outputScript target="body">
            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
                mainzellisteURL:"#{sessionBean.getMainzellisteRestUrl()}"});
            $(document).ready(function() {
                  tempIdResolver.resolve();
            });
        </h:outputScript>
    </f:view>
    <co:sessionTimeoutModal/>
</h:body>

</html>